.countryTabs
  &__layout
    margin-top 65px
    margin-bottom: 30px;
  &__nav
    padding 25px 0
    margin-bottom 50px
    border-top 1px solid #9f9fa0
    border-bottom 1px solid #9f9fa0
    & > li
      position relative
      display inline-block
      width 19%
      text-align center
      font-size 22px
      font-weight 300
      & > a
        text-decoration none
        color #677e8a !important
        height 20px
        width 20px
  
        &:hover
          color #24b3fd !important
          font-weight 600
          font-size 22px
    
          &:after
            position absolute
            content url('../images/icon/arrow-down.png')    
            height 100% 
            width 80%
            top 25px
            left 50%
            transform translate(-50%, 50%)
            background #fff
  &__sorting
    &Title
      display inline-block
      vertical-align middle
      font-weight bold
      color #000
      padding-right 30px
    &List
      display inline-block
      vertical-align middle
    &ListItem
      display inline-block
      vertical-align middle     
      & > a
        text-decoration none
        color #999
        padding 0 10px
        border-radius 12px
      &.active > a
        background #f4f4f4
        color #000
.historyTab
  &__item
    clearfix()
  &__image
    col(5/12)
    & > img
      margin-bottom 30px
  &__description
    col(7/12)
.excursionTab
  margin-top 60px
  &__item
    border-bottom 1px solid #999
    margin-bottom 20px    
    clearfix()    
    &.__type-2
      overflow: hidden;
      box-shadow 1px 1px 3px #999,
                  -1px -1px 3px #999
      border-radius 12px
  &__image
    col(3/12)    
    overflow hidden    
    & > img
      display block
      width 100%
      
  &__description
    col(9/12)
    padding-right 6%
    margin-right 0
    &Title
      margin-top 10px
      margin-bottom 10px
      color #07405e
      font-weight bold
      font-size 25px
    &SubTitle
      margin-top 10px
      margin-bottom 10px
      font-size 20px
      color #07405e
      font-weight 300
    &Text
      margin-top 10px
      margin-bottom 10px
      font-size 14px

.filterCountry
  
  margin-top 30px
  margin-bottom 30px
  
  &__title
    margin-bottom 20px
  &__options
    margin-top 30px
    margin-bottom 70px
    clearfix()
    &Column
      col(1/4)
      & > li
        list-style-type none
        & > label
          padding-left 27px !important
          