@import '../base/mixins&includes.styl'

.sliderMain
  min-height 450px
  color #fff
  +b(mobile)
    position relative
    min-height initial
    
  &__rating-icon
    display none
    +b(mobile)
      position absolute
      z-index 99
      display block
      background url('../images/card-image/icon-rating.png') no-repeat 50%
      top 0
      color #fff
      text-align center
      padding-top 10px
      font-size 13px
      font-weight bold
      left 15px
      width 27px
      height 39px
  &-wrapper
    position relative
    min-height inherit    
  &-info
    position absolute
    bottom 30px
    +b(mobile)
      display none
  &-price
    font-weight bold
    font-size 24px
  &-name
    font-size 26px
  &-star
    margin-left 20px
.sliderMain-nav
  position relative
  +b(mobile)
    display none
  &__arrow
      position absolute
      z-index 999
      transform translateY(-50%)
      height 40px
      width 30px
      background #457086      
      & > svg
        padding 10px 5px
        fill #fff
        height 100%
        width 100%
      &.__left
        top 50%
        left 0
      &.__right
        top 50%
        right 0
  &__images
    width 100%
    max-width 180px
.calendarSlider
  position relative
  &:before
    content ''
    position absolute
    border-top 1px solid #cccccc
    width 100%
    bottom 50px
    left 0
  &:after
    content ''
    position absolute
    border-top 1px solid #cccccc
    width 100%
    bottom 69px
    left 0
  &__arrow
    position absolute
    height 20px
    width 20px
    & > svg
      fill #457086
      height 100%
      width 100%
    &.__left
      top 50%
      left 0
    &.__right
      top 50%
      right 0
        
.calendar-price
  margin 30px 0
  +b(mobile)
    display none
.calendar-charts
  margin 30px auto 30px
  &__item
    position relative
    width 15px
    height 150px
    margin 0 11px
    float left
    margin: 0 1%;
    width: 1.3%;  
  &__column
    position absolute
    bottom 24px
    background #e6e6e7
    height 10px
    width 100%
    &:hover
      background #24b3fd    
  &__number
    position absolute
    width 100%
    text-align center
    bottom 0
    left 0
  &__month
    padding 0 !important
    color #cccccc
#mapPrice
  max-height: 100%;
  max-width: 100%;
  height 500px
  width 900px
  height:400px;
  width:100%;
  border-radius:12px;
.hotelsTabs
  &__bonus
    clearfix()
  &__block
    height:auto;
    width:100%;
    // background:#000;
    +b(mobile)
      height auto
  &__nav
    padding 25px 0
    margin-bottom 50px
    border-top 1px solid #9f9fa0
    border-bottom 1px solid #9f9fa0
    +b(mobile)
      display none
    & > li
      position relative
      display inline-block
      width 24%
      text-align center
      font-size 22px
      font-weight 300
      +b(mobile)
        width 100%
      & > a
        text-decoration none
        color #677e8a !important
        height 20px
        width 20px
  
        &:hover
          color #24b3fd !important
          font-weight 600
          font-size 22px
    
          &:after
            position absolute
            content url('../images/icon/arrow-down.png')    
            height 100% 
            width 80%
            top 25px
            left 50%
            transform translate(-50%, 50%)
            background #fff
            +b(mobile)
              background none
              left 90%
              top 0
              width 20px
              height 11px
              transform translate(0, 0)
.hotelsDescription
  clearfix()
  &__accordTitle
    position relative
    display none
    text-align center
    font-size 22px
    font-weight 300
    +b(mobile)
      cursor pointer
      width 100%
      display inline-block
      text-decoration none
      color #677e8a !important
      &:after
        position absolute
        content url('../images/icon/arrow-down.png')    
        background none
        left 90%
        top 0
        width 20px
        height 11px
        transform translate(0, 0)          
      &:hover
        color #24b3fd !important
        font-weight 600
        font-size 22px
        
  &__column
    col(1/3)
    +b(mobile)
      unstack()
  &__icon
    display inline-block
    vertical-align middle
    height 30px
    width 30px
    & > svg      
      height 100%
      width 100%
      fill #07405e
  &__title
    display inline-block
    vertical-align middle
    font-size 20px
    color #07405e
    padding-left 10px
  &__value
    margin 20px 0
    font-size 14px
    font-weight 400
  &__name 
    font-weight 600
  &__list
    margin 20px 0
  &__li
    position relative
    font-size: 14px;
    padding-left: 20px;
    font-weight: normal;
    // padding-top: 10px;
    // padding-bottom: 10px;
  &__li:before
    position absolute
    top 8px
    left 0
    color: #999;
    content: '';
    height: 5px;   
    width: 5px;
    background: #677e8a;
    border-radius: 53px;
  
.hotelsBonus
  
  &__column
    col(1/2)
    display block
    border-radius 12px
    height 400px
    color #fff    
    text-decoration none
    padding 70px 70px 0
    
    &:hover
      color #fff
      
    +b(mobile)
      unstack()
      padding 20px 20px 0
      margin-top 10px
      margin-bottom 10px
  &__name
    text-align center
    font-weight bold    
    font-size 22px
    margin-bottom 24px
    line-height 30px
    
    +b(mobile)
      font-size 18px
  &__info
    text-align center
    margin-bottom 25px
    font-size 14px  
        
  &__border-bottom
    height 1px
    width 30%
    border-top 1px solid #fff
    display block
    margin 0 auto
  &__date
    margin-top 20px
    font-size 22px
    &-name
      font-size 12px
      text-align center
      padding 0
    &-value
      margin-top 20px
      font-size 22px
      text-align center
      padding 0
.filterHotels
  &__switch-inner
    background none
  &__switch-view
    border 1px solid #fff
    // border-radius 4px
      
.filterMob
  &__search
    +b(mobile)
      float none !important
      margin-top 10px !important
      width 100% !important
      margin-bottom 10px !important
      background-color #fff !important
      border 1px solid #999 !important
      border-left 1px solid #999 !important
      border-radius 8px !important
    
.holidayCreate
  +b(mobile)
    margin-top 30px
  &__filterMob
    position fixed
    top 0
    padding-top 47px
    z-index 300
    height 100%
    width 100%
    background #fff
  &__filter
    background url('../images/bg/filter-hotels.jpg') no-repeat 50%
    height 200px
    padding-top 20px
    +b(mobile)
      background none
      height auto
      display none
  &__selectors
    overflow hidden
    width 50%
    margin 20px auto 20px
  &__selectors-item
    position relative
    col(1/2)
    
    & > label
      position absolute
      height 9px
      width 27px
      right 10px
      top 50%
      transform translateY(-50%)
      & > svg
        display block
        width 100%
        height 100%
        fill #fff
    & > select
      border-radius 4px
      height 40px  
      color #fff
      background rgba(59,86,100,0.58)

  &__sort-inner
    // width 600px
    text-align center
    padding-top 10px
    border-top 1px solid #9e9e9c
    margin 0 auto
  &__result
    +b(mobile)
      display none
  &__sliderMob
    display none
    +b(mobile)
      display block
  &__slider
    position relative
    margin-top 20px
    margin-bottom 30px
    min-height 700px
    +b(mobile)
      min-height auto
      display none
    &__arrow
      position absolute
      height 40px
      width 30px
      background #457086
      & > svg
        padding 10px 5px
        fill #fff
        height 100%
        width 100%
      &.__left
        top 45%
        left 0
      &.__right
        top 45%
        right 0

.numbersSlider
  &__item
    display block
    border-radius 8px    
    margin 0 15px 10px
    overflow hidden
    // height 600px
    box-shadow 1px 1px 5px #999,
                -1px -1px 5px #999
    transition all 0.3s ease-in-out 0s
    &:hover
      cursor pointer
    &:hover .numbersSlider__image
      height 150px
      transition background-size 0.4s ease-in-out 0s,
                height 0.2s ease-in-out 0s
      +b(mobile)
        transition none
        height 115px
        
      
  &__images
    position relative
    overflow hidden 
    
  &__image    
    height 115px
    background-size cover
    background-repeat no-repeat 
    background-position 50%
    border-radius 8px 8px 0 0
    transition background-size 0.4s ease-in-out 0s,
              height 0.2s ease-in-out 0s
  &__arrow
    position absolute
    z-index 10
    height 20px    
    width 20px
    & > svg
      width 100%
      height 100%
      fill #fff
    &.__left
      top 50%
      left 10px
    &.__right
      top 50%
      right 10px
  &__type
    margin 0 15px
    border-bottom 1px solid #999
    height 85px
  &__info
    margin 0 15px
    border-bottom 1px solid #999
    height 85px
    +b(mobile)
      display none
  &__propertie
    margin-top 20px
    font-size 12px
    color #999999
  &__value
    font-size 14px
    font-weight bold
    color #000
  &__price
    font-size 25px
    font-weight bold
    color #24b3fd
  &__form
    padding-top 20px
    margin 0 15px
    height 65px
  &__checkbox
    display inline-block
    vertical-align middle
    background #fff
    border 1px solid #999
    border-radius 80px
    height 15px
    width 15px 
    transition all 0.3s ease-in-out 0s
  
  &__labelCheckbox
    display inline-block
    vertical-align middle
    font-size 16px
    padding-left 10px
.checkboxActive
  background #24b3fd
  border 1px solid #24b3fd
  transition all 0.3s ease-in-out 0s
    
.numberResult
  background url('../images/numbers/bg-result.jpg') no-repeat 50%
  width 100%
  height 230px
  border-radius 12px
  margin-bottom 90px
  padding-top 40px
  padding-left 68px
  +b(tablet)
    padding-left 1%
  &__sum
    color #fff
    width 225px
    display inline-block
    vertical-align middle
    +b(tablet)
      width 27%
    &Title
      color #fff
      font-size 14px
    &Value
      font-size 60px
      font-weight bold
      line-height normal
    &Icon
      display inline-block
      vertical-align middle
      height 35px
      width 30px
      & > svg
        width 100%
        height 100%
        fill #fff
    &Text 
      display inline-block
      vertical-align middle
      padding-left 15px
    &Link
      font-size 13px
      outline none
      color #fff
  &__payment
    display inline-block
    vertical-align middle 
    margin-left 47px
    border-left 1px solid #999
    border-right  1px solid #999
    padding-left 50px
    color #fff
    font-size 13px
    line-height 18px
    width 440px
    +b(tablet)
      width 50%
      padding-left 1%
      margin-left 2% 
    &Link
      display block
      margin-top 23px
      margin-bottom 23px
      font-size 13px
      outline none
      color #fff      
    &Icon
      display inline-block
      vertical-align middle
      height 35px
      width 30px
      & > svg
        width 100%
        height 100%
        fill #fff
    &Text 
      display inline-block
      vertical-align middle
      padding-left 15px
  
  &__buy
    display inline-block
    vertical-align middle
    +b(tablet)
      width 20%
    &Button 
      color #fff
      margin-left 45px
      width 260px
      +b(tablet)
        width 100%
        margin-left 0
      
.hotelsTours
  &__sortingMob
    display none
    +b(mobile)
      display block
      margin-top 30px
    &Title
      display block
      
      font-weight bold
      color #000
      padding-right 30px
    &List
      margin-top 30px
      display block
      vertical-align middle
      & > li
        margin-top 10px
        margin-bottom 10px
    
  &__sorting
    display inline-block
    vertical-align middle
    margin-bottom 26px
    +b(mobile)
      width 100%
    &Selectors
      position relative
      display inline-block
      vertical-align middle
      border-right 1px solid #e8e8e8
      height 30px
      +b(mobile)
        border-right none
      &.__food
        width 218px
        +b(mobile)
          width 100%
        & > label
          position absolute
          z-index 1
          height 9px
          width 27px
          right 10px
          top 50%
          transform translateY(-50%)
          & > svg
            display block
            width 100%
            height 100%
            fill #457086
        & > select
          position relative
          z-index 2  
          color #000
          background none
          border none
      &.__typeNumbers
        width 260px
        +b(mobile)
          width 100%
        & > label
          position absolute
          z-index 1
          height 9px
          width 27px
          right 10px
          top 50%
          transform translateY(-50%)
          & > svg
            display block
            width 100%
            height 100%
            fill #457086
        & > select
          position relative
          z-index 2  
          color #000
          background none
          border none
      &.__airCompanie
        width 240px
        +b(mobile)
          width 100%
        & > label
          position absolute
          z-index 1
          height 9px
          width 27px
          right 10px
          top 50%
          transform translateY(-50%)
          & > svg
            display block
            width 100%
            height 100%
            fill #457086
        & > select
          position relative
          z-index 2  
          color #000
          background none
          border none
    &Switch
      display inline-block
      vertical-align middle
      width 400px
      padding-left 30px
      +b(mobile)
        display none
    &Title
      display inline-block
      vertical-align middle
      font-weight bold
      color #000
      padding-right 30px
    &List
      display inline-block
      vertical-align middle
    &ListItem
      display inline-block
      vertical-align middle     
      & > a
        text-decoration none
        color #999
        padding 0 10px
        border-radius 12px
      &.active > a
        background #f4f4f4
        color #000
  &__tableMob
    display none
    +b(mobile)
      display block
  &__table
    +b(mobile)
      display none
    &Titles
      display table
      height 50px
      border-top 1px solid #999
      border-bottom 1px solid #999
      color #999
    &Title
      display inline-block
      vertical-align middle
      display table-cell
      &:last-child
        text-align right
      &.__tour
        width 340px
      &.__duration
        width 195px
      &.__numbers
        width 200px
      &.__food
        width 161px
      &.__airCompanie
        width 162px
      &.__price
        width 58px
    &Cells
      display table
      padding-top 10px
    &Cell
      display table-cell
      vertical-align middle
      padding-top 30px
      padding-bottom 30px
      font-size 14px
      &:last-child
        text-align right
      &.__tour
        width 340px
      &.__duration
        width 195px
      &.__numbers
        width 200px
      &.__food
        width 161px
      &.__airCompanie
        width 162px
      &.__price
        width 58px
        color #24b3fd
        font-size 18px
        font-weight bold
    
.hotelsAround
  margin-top 40px
  margin-bottom 40px
  +b(mobile)
    display none
  &__title
    margin-bottom 50px
.sliderHotelsAround
  position relative
  height 415px
  +b(mobile)
    height auto
  .slick-dots
    bottom: auto
    top: 90%
    button
      width: 16px
      height: 16px
      border: 2px solid $secondFontColor
  +b(mobile)
    .slick-dots {
      position: static;
      margin: 0 0 17px 0;
    }
  &__list
    +b(mobile)
      .sliderHotelsAround__list-item {
        padding: 0 0 30px 0;
      }
      .mob-hide {
        display: none;
      }
    @media (min-width: 768px)
      &--tiles-view
        margin: 0 -15px
        display: flex
        flex-flow: row wrap
        clearfix()
        .sliderHotelsAround__list-item
          width: 33.3333%
          padding: 0 15px 30px
          &--wide
            width: 100%
            .help-card
              min-height: 191px
              &:before
                min-height: 191px
        .card
          &__img-box
            height: 115px
          &__country
            font-size: 11px
            line-height: 15px
          &__content
            padding: 4px 15px 18px
          h3
            font-size: 14px
            line-height: 20px
          &__rating
            font-size: 15px
            &-star
              width: 13px
              height: 13px
          &__title
            margin: 0
          &__description
            font-size: 14px
            &-icon
              width: 20px
              height: 20px
        .help-card
          padding: 0 12px
          min-height: 342px
          &:before
            min-height: 342px
      &--lines-view
        .sliderHotelsAround__list-item
          padding: 0 0 15px 0
          //@include clearfix;
        .card
          position: relative
          &__img-box
            float: left
            width: 33.333%
            position: absolute
            height: 100%
            margin: 0 0 0 -15px
          &__price
            left: auto
            right: 0
          &__content
            float: right
            width: 66.6667%
            padding: 15px 30px 15px 15px
          &__tag
            &-box
              width: 50%
              float: right
              //text-align: right;
          &__title
            padding-bottom: 4px
            margin: 0
          &__description
            font-size: 14px
            &-box
              width: 50%
              float: left
        .help-card
          min-height: 194px
          &:before
            min-height: 194px

.hotelsSimilar
  margin-top 40px
  margin-bottom 40px
  +b(mobile)
    display none
  &__title
    margin-bottom 50px
.sliderHotelsSimilar
  position relative
  height 415px
  .slick-dots
    bottom: auto
    top: 100%
    margin: 16px 0 0 0
    button
      width: 16px
      height: 16px
      border: 2px solid $secondFontColor
  +b(mobile)
    .slick-dots {
      position: static;
      margin: 0 0 17px 0;
    }
  &__list
    +b(mobile)
      .sliderHotelsSimilar__list-item {
        padding: 0 0 30px 0;
      }
      .mob-hide {
        display: none;
      }
    @media (min-width: 768px)
      &--tiles-view
        margin: 0 -15px
        display: flex
        flex-flow: row wrap
        clearfix()
        .sliderHotelsSimilar__list-item
          width: 33.3333%
          padding: 0 15px 30px
          &--wide
            width: 100%
            .help-card
              min-height: 191px
              &:before
                min-height: 191px
        .card
          &__img-box
            height: 115px
          &__country
            font-size: 11px
            line-height: 15px
          &__content
            padding: 4px 15px 18px
          h3
            font-size: 14px
            line-height: 20px
          &__rating
            font-size: 15px
            &-star
              width: 13px
              height: 13px
          &__title
            margin: 0
          &__description
            font-size: 14px
            &-icon
              width: 20px
              height: 20px
        .help-card
          padding: 0 12px
          min-height: 342px
          &:before
            min-height: 342px
      &--lines-view
        .sliderHotelsSimilar__list-item
          padding: 0 0 15px 0
          //@include clearfix;
        .card
          position: relative
          &__img-box
            float: left
            width: 33.333%
            position: absolute
            height: 100%
            margin: 0 0 0 -15px
          &__price
            left: auto
            right: 0
          &__content
            float: right
            width: 66.6667%
            padding: 15px 30px 15px 15px
          &__tag
            &-box
              width: 50%
              float: right
              //text-align: right;
          &__title
            padding-bottom: 4px
            margin: 0
          &__description
            font-size: 14px
            &-box
              width: 50%
              float: left
        .help-card
          min-height: 194px
          &:before
            min-height: 194px
            
.hotelsArticle
  position relative
  margin-top 40px
  margin-bottom 40px
  +b(mobile)
    display none
  &__title
    margin-bottom 50px
  &__wrapper
    position relative
  &__blockOpacity
    position absolute
    display block
    height 100px
    width 100%
    bottom 0
    background: rgba(255,255,255,0.61);
    background: linear-gradient(to bottom, rgba(255,255,255,0.12) 37%, rgba(255,255,255,0.87) 86%, rgba(255,255,255,1) 100%);
  &__content
    position relative
    height 210px
    overflow hidden
    transition all 0.6s ease-in-out 0s
    &.__history
      height 700px
    &.active
      height 100%
      transition all 0.6s ease-in-out 0s
  &__history-column
    float left
    width 46%
    margin-right 3%
    line-height 30px
    font-size 14px
  &__button
    display block
    margin 0 auto
    width 17%
.svg__compare
  display inline-block
  vertical-align middle
  fill #24b3fd
  padding: 4px;
  width: 29px;
  height: 28px;
  &.__popup
    fill #fff
.svg__price
  display inline-block
  vertical-align middle
  fill #24b3fd
  width 20px
  height 20px
.svg__rating
  display inline-block
  vertical-align middle
  fill #24b3fd
  width 25px
  height 25px
  margin-right: 20px;
  +b(tablet)
    margin-right 8%
    width 18px
    height 18px
  
.svg__wishlist
  display inline-block
  vertical-align middle
  fill #fff
  padding: 4px;
  stroke #24b3fd
  stroke-width: 20;
  width: 29px;
  height: 28px;
  &.__popup
    fill #24b3fd
    padding: 4px;
    stroke #fff
.svg__close
  height 20px
  width 20px
  transform rotate(45deg)
.popup__compare
  position fixed
  display none
  background #24b3fd
  z-index 1000
  top 0
  left 0
  height 60px
  width 100%
  padding 8px 0
.popup__wishlist
  position fixed
  display none
  background #24b3fd
  z-index 1000
  top 0
  left 0
  height 60px
  width 100%
  padding 8px 0
.popup__title
  display inline-block
  vertical-align middle
  font-size 25px
  font-weight 300
  width 430px
.popup__column
  display inline-block
  height 100%
  padding 8px 0
  color #fff
.popup__middle
  display inline-block
  vertical-align middle
  width 660px
  padding-left 56px
  border-left 1px solid #fff
  border-right 1px solid #fff
.popup__link
  display inline-block
  vertical-align middle
  font-size 14px
  font-weight 300
  color #fff
  padding-left 10px
  
.popup__close
  display inline-block
  vertical-align middle
  width 30px
  text-align right
  margin-top 4px
  cursor pointer
.hotelsHeader
  padding 30px 0 10px
  &__column
    display inline-block
    vertical-align middle 
    &.__panel
      width 20%
      font-size 12px
      color #666666
      +b(mobile)
        display none  
    &.__title
      width 59%
      text-align center
      +b(mobile)
        width 100%
    &.__rating
      width 20%
      text-align right
      +b(tablet)
        width 18%
      +b(mobile)
        display none
  &__button-wishlist
    cursor pointer
    & > img
      display inline-block
      vertical-align middle
      // height 20px
      // width 20px
    & > span 
      display inline-block
      vertical-align middle
      padding-left 10px 
    &Mob
      display none
      cursor pointer
      +b(mobile)
        display block
        text-align center
        color #666666
        font-size 16px
        padding-top 12px
        padding-bottom 10px
        & > img
          display inline-block
          vertical-align middle
          // height 20px
          // width 20px
        & > span 
          display inline-block
          vertical-align middle
          padding-left 10px 
        
    
      
  &__button-compare
    cursor pointer
    & > span 
      display inline-block
      vertical-align middle
      padding-left 10px 
      
  &__value
    display inline-block
    vertical-align middle
    font-size 30px
    +b(tablet)
      font-size 20px
  &__nameHotel
    font-family 'Roboto'
    font-weight 300
    line-height normal
    font-size 40px
    color #24b3fd
    +b(mobile)
      font-size 30px
  &__geo
    font-family 'Roboto'
    font-weight 300
    color #acadaf
    font-size 14px
    +b(mobile)
      font-size 12px
  &__priceMob
    display none
    +b(mobile)
      display block
      text-align center
      font-size 24px
      font-weight bold
      margin-top 10px
.filter__buttonMob
  display none
  +b(mobile)
    width 100%
    display block
    margin-top 30px
    margin-bottom 20px