// @import 'sprite.scss'
// @import 'normalize&reset.scss'
@import '../base/mixins&includes.styl'
// main
//----------------------------------------------------//
.main
  overflow: hidden
  padding: 0 3px 0 30px
  &.sidebar-is-fixed
    margin-left: 264px
  +b(tablet)
    margin: 0;
    padding: 0;
// catalog-page
//----------------------------------------------------//
.catalog-page
  .container
    position: relative
// helpers
//----------------------------------------------------//
.tbl
  display: table
.cell
  display: table-cell
  vertical-align: middle
  text-align: center
// icons
//----------------------------------------------------//
.icon-plane-up
  width: 29px
  height: 14px
  fill: #24b3fd
.icon-pen
  width: 20px
  height: 20px
  fill: #24b3fd
.icon-arrow-direction
  width: 31px
  height: 12px
  fill: #7a7a7a
.icon-arrow-left
  width: 7px
  height: 13px
  fill: #748893
.icon-arrow-right
  width: 7px
  height: 13px
  fill: #748893
.icon-star
  width: 23px
  height: 22px
  fill: #aeaeae
.icon-star-fill
  width: 23px
  height: 22px
  fill: #24b3fd
.icon-no-food
  width: 17px
  height: 17px
  fill: #6a6a6a
.icon-breakfest
  width: 15px
  height: 19px
  fill: #6a6a6a
.icon-lunch-alternative
  width: 21px
  height: 17px
  fill: #6a6a6a
.icon-lunch
  width: 18px
  height: 16px
  fill: #6a6a6a
.icon-coctail
  width: 12px
  height: 16px
  fill: #6a6a6a
.icon-tour
  width: 55px
  height: 44px
  fill: #fff
.icon-hotel
  width: 43px
  height: 43px
  fill: #fff
.icon-plane
  width: 65px
  height: 37px
  fill: #fff
.icon-compass
  width: 24px
  height: 24px
  fill: #24b3fd
.icon-people
  width: 24px
  height: 22px
  fill: #24b3fd
.icon-calendar
  width: 21px
  height: 21px
  fill: #24b3fd
.icon-location
  width: 22px
  height: 22px
  fill: #24b3fd
.icon-man
  width: 19px
  height: 44px
  fill: #24b3fd
.icon-baby
  width: 21px
  height: 37px
  fill: #24b3fd
.icon-minus
  width: 20px
  height: 4px
  stroke: #dcdcdc
.icon-plus
  width: 20px
  height: 20px
  stroke: #dcdcdc
// back
//----------------------------------------------------//
.back
  display: block
  background-color: #f4f4f4
  text-decoration: none
  color: #677e8a
  font-size: 16px
  position: relative
  z-index: 10
  padding: 12px 15px
  [class^="icon-"],
  [class*="icon-"]
    vertical-align: middle
    margin-right: 12px
    margin-top: -3px
// sidebar
//----------------------------------------------------//
.sidebar
  margin-bottom: 25px
  width: 264px
  min-height: 1%
  float: left
  box-shadow: 0px 0px 3.8px 0.2px rgba(35, 41, 50, 0.3)
  border-radius: 8px
  overflow: hidden
  background-color: #fff
  &.to-top
    position: fixed
    top: 50px
    z-index: 1
  &.to-bottom
    position: absolute
    top: auto
    bottom: 0
  +b(tablet)
    //position: absolute;
    position: fixed;
    z-index: 100;
    top: 46px;
    bottom: 0;
    left: 0;
    transition: all 0.2s;
    transform: translateX(-100%);
    width: 100%;
    box-shadow: none;
    border-radius: 0;

    .tabs__list {
      display: none;
    }

    &.active {
      display: block;
      transform: translateX(0);
    }
  +b(mobile)
    //top:0
// tabs
//----------------------------------------------------//
.tabs
  &__list
    display: table
    width: 100%
  &__li
    display: table-cell
    border-right: 1px solid #fff
    &:last-child
      border-right: none
    &.active
      border-right: 0
      .tabs__link
        background-color: #24b3fd
        color: #fff
        font-weight: 700
  &__link
    display: block
    text-align: center
    padding: 10px 12px
    text-transform: uppercase
    text-decoration: none
    background-color: #e8e8e8
    color: #000000
    &:hover
      color: #000000
      background-color: darken(#e8e8e8, 8%)
  &__content
    display: none
    &.active
      display: block
// filter
//----------------------------------------------------//

.filter__box-shadow
  box-shadow 1px 1px 3px #999,
            -1px -1px 3px #999
.filter
  &__back
    display: none
  &__scroll
    // overflow: auto;
    width: 100% !important
  &__inner
    padding: 0 19px
  &__item
    text-align: left
    padding: 16px
    border-bottom: 1px solid #cccccc
    &:last-of-type
      border-bottom: none
  &__title
    display: block
    margin-bottom: 14px
  &__buttons
    text-align: center
    padding: 0 0 10px
  &__button
    min-width: 166px
    display: block
    margin: 0 auto 5px
  &__reset
    color: #000
    font-weight: 600
    text-decoration: none
    &:hover
      color: #24b3fd
  &__range
    padding-top: 3px
  &__stars
    margin-top: -10px
  &__list
    &--inline
      margin-left: -16px
      margin-right: -16px
      .filter__li
        margin-right: 7px
        display: inline-block
        vertical-align: top
        &:last-child
          margin-right: 0
  &__li
    margin-bottom: 4px
  +b(tablet)
    &__back {
      display: block;
    }
// range
//----------------------------------------------------//
.range
  &__slider
    margin-bottom: 7px
  &__values
    clearfix()
    font-weight: 600
  &__value
    &:first-child
      float: left
    &:last-child
      float: right
// ui-slider
//----------------------------------------------------//
.ui-slider
  position: relative
  height: 6px
  background-color: #cccccc
.ui-slider-handle
  position: absolute
  z-index: 2
  width: 14px
  height: 14px
  background-color: #24b3fd
  border-radius: 50%
  border: 2px solid #fff
  cursor: pointer
  top: -4px
  margin-left: -7px
.ui-slider-range
  position: absolute
  z-index: 1
  top: 0
  height: 100%
  background-color: #474747
.ui-slider-range-min
  left: 0
.ui-slider-range-max
  right: 0
// stars
//----------------------------------------------------//
.stars
  input[type="radio"]
    & + label
      padding: 0
      height: 22px
      &:hover
        .icon-star
          fill: #677e8a
      .icon-star-fill
        display: none
      &:before,
      &:after
        display: none !important
  input[type="radio"].checked
    & + label
      .icon-star
        display: none
      .icon-star-fill
        display: block
// scrollPane
//----------------------------------------------------//
.jspVerticalBar
  width: 8px
.jspDrag
  background-color: #555555
  border-radius: 4px
.jspContainer
  width: 100% !important
// slider
//----------------------------------------------------//
.slider
  max-height: 498px
  overflow: hidden
  img
    width: 100%
  +b(mobile)
    max-height: 460px;

    .slick-dots {
      display: none !important;
    }

    img {
      min-height: 460px;
      width: auto;
    }
// slick-dots
//----------------------------------------------------//
.slick-dots
  font-size: 0
  line-height: 0
  position: absolute
  bottom: 0
  width: 100%
  text-align: center
  margin-bottom: 27px
  li
    display: inline-block
    margin: 0 3px
    &.slick-active
      button
        background-color: #24b3fd
  button
    width: 15px
    height: 15px
    font-size: 0
    border-radius: 50%
    padding: 0
    background-color: #fff
// switch
//----------------------------------------------------//
.switch
  &__inner
    background-color: rgba(0, 0, 0, 0.7)
  &__list
    font-size: 0
    text-align: center
    padding: 0 15px
  &__li
    display: inline-block
    vertical-align: top
    &.active
      .switch__link
        font-weight: 700
        background-color: #24b3fd
  &__link
    display: block
    font-size: 22px
    text-transform: uppercase
    color: #fff
    padding: 3px 25px
    text-decoration: none
    min-height: 50px
    transition: background-color 0.8s
    [class^="icon-"],
    [class*="icon-"],
    span
      vertical-align: middle
    [class^="icon-"],
    [class*="icon-"]
      margin-right: 15px
    .icon-plane
      margin-top: 3px
      margin-bottom: 3px
    &:hover
      color: #fff
  &__view
    position: relative
    overflow: hidden
    padding: 0 15px 15px
  &__content
    transform: translateY(-100%)
    transition: all 0.4s
    position: absolute
    width: 100%
    top: 0
    background-color: #fff
    &.active
      transform: translateY(0)
      position: relative
  +b(mobile)
    &__inner {
      margin: 0 -15px;
      background-color: transparent;
    }

    &__list {
      background-color: rgba(0, 0, 0, 0.7);
      padding: 0;
    }

    &__li {
      width: 33.33%;
    }

    &__link {
      min-height: 76px;
      text-transform: none;
      font-size: 16px;

      [class^="icon-"],
      [class*="icon-"] {
        margin-right: 0;
        margin-bottom: 8px;
      }

      span {
        display: block;
      }
    }

    &__view {
      padding: 0;
    }

    &__content {
      background-color: transparent;
    }
// top
//----------------------------------------------------//
.top
  position: relative
  margin: 0 0 30px 0
  &__switch
    position: absolute
    width: 100%
    bottom: 70px
  +b(mobile)
    &__switch {
      position: relative;
      bottom: auto;
    }

    &__slider {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
// search
//----------------------------------------------------//
.search
  clearfix()
  position: relative
  &__items
    float: left
    width: 100%
    padding-right: 168px
  &__item
    float: left
    width: 22%
    position: relative
    padding: 6px 0 5px 0
    border-left: 1px solid #dcdcdc
    height: 50px
    &:first-child
      border-left: none
    &--lg
      width: 28%
  &__icon
    cursor: pointer
    position: absolute
    left: 18px
    top: 50%
    transform: translateY(-50%)
  &__arrow
    cursor: pointer
    width: 13px
    height: 7px
    fill: #748893
    position: absolute
    right: 8px
    top: 50%
    transform: translateY(-50%)
  &__button
    float: left
    width: 168px
    margin-left: -168px
    height: 50px
  &__label
    width: 86px
    float: left
    margin-left: -100%
    line-height: 27px
  &__controls
    display: none
    text-align: center
  &__control
    display: block
    margin: 0 auto 5px
    min-width: 180px
    padding-top: 12px
    padding-bottom: 12px
  &__reset
    color: #000000
    text-decoration: none
  &__back
    display: none
    margin: 0 -15px 15px
  &--sm
    padding-top: 10px
    margin-bottom: 13px
    .search__items
      padding-right: 0
      padding-left: 86px
    .search__item
      padding-top: 0
      padding-bottom: 0
      height: auto
      &:last-child
        padding-right: 0
        .search__arrow
          right: 0
    input.search__input
      font-weight: 400
      padding-top: 2px
      padding-bottom: 2px
  +b(mobile)
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 15px 0;

    &__items {
      padding-right: 0;
    }

    &__item {
      float: none;
      width: 100%;
      margin-bottom: 16px;
      background-color: #fff;
      border-left: none;

      &--people {
        display: none;
      }
    }

    &__button {
      margin: 0;
      display: block;
      float: none;
      width: calc(100% + 30px);
      margin-left: -15px;
      font-size: 20px;
      height: auto;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    &__icon {
      left: 10px;

      &.icon-compass {
        width: 18px;
        height: 18px;
      }

      &.icon-calendar {
        width: 19px;
        height: 19px;
      }

      &.icon-geo {
        width: 19px;
        height: 19px;
      }
    }

    &__label {
      display: none;
    }

    &__controls {
      display: block;
    }

    &__back {
      display: block;
    }

    &--lg {
      .people-drop {
        color: #fff;

        [class^="icon-"],
        [class*="icon-"] {
          fill: #fff;
          stroke: #fff;
        }
      }
    }

    &--sm {
      display: none;
      background-color: #fff;
      position: absolute !important;
      z-index: 100;
      display: block !important;
      top: 0 !important;
      left: 0 !important;
      bottom: 0;
      width: 100%;
      transform: translateX(-100%);
      transition: all 0.2s;
      margin-bottom: 0;
      padding-top: 0;

      &.active {
        transform: translateX(0);
      }

      .search__items {
        padding-left: 0;
      }

      .search__arrow {
        width: 9px;
        height: 5px;
        right: 12px;
      }

      .people {
        padding-bottom: 0;
      }

      .people__item {
        border-color: #a1a3a5;
      }

      .people__plus,
      .people__minus {
        stroke: #c7c8cb;
      }

      input.search__input {
        border: 1px solid #dddddd;
        padding-top: 14px;
        padding-bottom: 14px;
        font-weight: 700;
      }
    }
input.search__input
  border: none
  font-weight: 700
  color: #040404
  padding-left: 0
  padding-right: 0
  padding-left: 50px
  padding-right: 25px
  padding-top: 9px
  padding-bottom: 9px
  cursor: pointer
  placeholderColor(#040404)
  +b(mobile)
    padding-left: 37px; 
    
// autocomplete
//----------------------------------------------------//
.ui-autocomplete
  display: none
  position: absolute
  width: 100%
  min-width: 180px
  border-radius: 10px
  box-shadow: 0 0 3.8px 0.2px rgba(35, 41, 50, 0.3)
  background: #fff
  font-size: 14px
  color: #010101
  .scroll-wrap
    width: 100%
    padding-top: 20px
    padding-bottom: 20px
  .scroll-panel
    width: 100% !important
    max-height: 155px
  .ui-menu-item
    padding: 0 18px 0 48px
    cursor: pointer
    &:hover
      color: #24b3fd
.ui-helper-hidden-accessible
  display: none
// drops
//----------------------------------------------------//
.people-drop
  display: none
  width: 295px
  position: absolute !important
  z-index: 100
  padding: 0 !important
  &.active
    display: block
  &.clone
    display: block !important
    position: static !important
    box-shadow: none !important
    background: transparent !important
    margin: 0 auto 15px
    .dropdown__triangle
      display: none
  +b(mobile)
    width: 100%;
    display: block !important;
    top: 45px !important;
    left: 0 !important;
    position: absolute !important;
    bottom: 0;
    border-radius: 0 !important;
    transform: translateX(-100%);
    transition: all 0.2s;
    box-shadow: none !important;

    .dropdown__triangle {
      display: none;
    }

    &.active {
      transform: translateX(0);
    }
.calendar-drop
  display: none
  width: 558px
  position: absolute !important
  z-index: 100
  padding: 0 !important
  &.active
    display: block
  +b(mobile)
    padding-top: 5px;

    &__item {
      padding: 10px 45px 3px 0;

      &:last-child {
        padding: 10px 0 3px 45px;
      }
    }

    &__top {
      margin-bottom: 8px;
    }
// people
//----------------------------------------------------//
.people
  clearfix()
  padding: 20px 0 15px
  &__item
    float: left
    width: 50%
    border-right: 1px solid #e8e8ea
    padding: 0 30px 0 20px
    text-align: center
    &:last-child
      padding: 0 20px 0 30px
      border-right: none
  &__top
    padding: 0 20px
    height: 45px
    position: relative
    .icon-baby
      margin-top: 4px
      margin-bottom: 4px
  &__plus,
  &__minus
    position: absolute
    top: 50%
    transform: translateY(-50%)
    cursor: pointer
    &:hover
      stroke: #24b3fd
  &__minus
    left: 0
  &__plus
    right: 0
  &__value
    display: block
  +b(mobile)
    padding: 18px 25px 25px;

    &__title {
      margin-bottom: 8px;
    }

    &__left,
    &__right {
      width: 100%;
      float: none;
      text-align: center;
      padding: 0 20px;
    }

    &__left {
      margin-bottom: 14px;
    }

    &__datepicker {
      padding-top: 5px;
      margin-bottom: 25px;
    }

    &__button {
      display: block;
    }

  
input.people__input
  border: none
  display: inline-block
  vertical-align: top
  width: 18px
  background-color: transparent
  padding: 0 !important
  line-height: 1
// calendar
//----------------------------------------------------//
.calendar
  padding: 10px 40px 25px
  &__left,
  &__right
    float: left
    width: 50%
  &__left
    padding-right: 25px
  &__right
    padding-left: 15px
  &__top
    clearfix()
    margin-bottom: 16px
  &__title
    display: block
    color: #24b3fd
    text-align: center
    margin-bottom: 15px
  &__amount
    position: relative
    padding: 0 33px
  &__minus,
  &__plus
    width: 33px
    text-align: center
    position: absolute
    top: 0
    height: 31px
    cursor: pointer
    border: 1px solid #dddddd
    [class^="icon-"],
    [class*="icon-"]
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
    &:hover
      [class^="icon-"],
      [class*="icon-"]
        stroke: $secondFontColor
  &__minus
    left: 0
    border-right: none
  &__plus
    right: 0
    border-left: none
  &__button
    display: none
    min-width: 180px
    margin: 0 auto
    padding-top: 12px
    padding-bottom: 12px
  +b(mobile)
    color: #000000;
input.calendar__nights
  text-align: center
  border-color: #dddddd
  height: 31px
  font-size: 16px
// ui-datepicker
//----------------------------------------------------//
.ui-datepicker-inline
  clearfix()
.ui-datepicker-group
  float: left
  width: 50%
  padding: 0 15px
.ui-datepicker-title
  font-weight: 700
  color: #24b3fd
  text-align: center
  margin-bottom: 5px
  +b(mobile)
    td {
      padding: 1px;
    }
.ui-datepicker-calendar
  text-align: center
  thead
    font-size: 12px
    text-transform: uppercase
    color: #cacaca
  a
    display: inline-block
    width: 22px
    height: 22px
    line-height: 22px
    text-align: center
    color: #323131
    text-decoration: none
    &:hover
      color: #24b3fd
  +b(mobile)
    display: block;
.ui-datepicker-today
  a
    color: #24b3fd
.ui-datepicker-current-day
  a
    background-color: #24b3fd
    color: #fff
    border-radius: 50%
    &:hover
      color: #fff
.ui-datepicker-prev,
.ui-datepicker-next
  width: 7px
  height: 13px
  font-size: 0
  &:hover
    opacity: .8
.ui-datepicker-prev
  float: left
  margin-left: -10px
  background-image: url("../images/arrow-left.svg")
.ui-datepicker-next
  float: right
  margin-right: -10px
  background-image: url("../images/arrow-right.svg")
// value
//----------------------------------------------------//
.value
  display: none
  font-size: 12px
  line-height: 1.4
  position: relative
  padding-right: 30px
  margin-bottom: 8px
  &__edit
    position: absolute
    right: 0
    top: 8px
    cursor: pointer
  &__arrow
    vertical-align: middle
    margin: 0 20px 0 13px
  &__value
  +b(mobile)
    display block
// controls
//----------------------------------------------------//
.controls
  display: none
  position: fixed
  z-index: 90
  bottom: 20px
  width: 100%
  text-align: center
  transition: all 0.2s
  &.hidden
    opacity: 0
    visibility: hidden
  &__button
    min-width: 130px
    padding: 12px 15px
    margin: 0 10px
    &--sort
      display: none
  +b(tablet)
    display: block;
  +b(mobile)
    &__button {
      &--sort {
        display: inline-block;
      }
    }
#facebook
  .ajcls-2
    fill: #3a559f !important
#yandex-money
  fill: #fff !important
//----------------------------------------------------//
// MAIN                                               //
//----------------------------------------------------//
.temprow
  margin: 0 0 30px 0
  position: relative
  &.dark
    background: $darkColor
.columns
  padding: 10px 15px 0
.center-text
  text-align: center
  padding: 0 0 30px 0
.small-text
  p
    font-size: 12px
    line-height: 16px
// nav ------------------------------
.nav
  //nav list
  &__list
    display: table
    width: 100%
    &-item
      display: table-cell
      text-align: center
      &:first-child
        text-align: left
      & *
        text-align: left
  &__link
    font-size: 16px
    font-weight: 600
    color: #0e0e0e
    text-decoration: none
    &:hover
      color: $secondFontColor
    line-height: 51px
    height: 51px
    display: inline-block
  //nav sign in
  &__sign
    &-icon
      width: 22px
      height: 26px
      fill: $secondFontColor
      margin: 0 12px 0 0
      vertical-align: middle
    &-enter
      display: none
    &-link
      text-decoration: none
      display: inline-block
      vertical-align: middle
      line-height: 26px
      &:hover
        color: $darkBlueColor
        .nav__sign-icon
          fill: $darkBlueColor
      &--exit
        margin: 0 0 0 7px
        padding: 0 0 0 12px
        border-left: 1px solid #d1d1d1
// nav end ------------------------
//dropdown ---------------------------
.dropdown
  &__box
    padding: 25px
    border-radius: 10px
    box-shadow: 0 0 3.8px 0.2px rgba(35, 41, 50, 0.3)
    position: absolute
    background: #fff
    clearfix()
    top: 100%
    z-index: 999
  &__triangle
    width: 20px
    height: 12px
    position: absolute
    bottom: 100%
    left: 50%
    margin: 0 0 0 -10px
    overflow: hidden
    &:before
      content: ''
      display: block
      width: 12px
      height: 12px
      transform: rotate(45deg) skew(10deg, 10deg)
      box-shadow: 0 0 3.8px 0.2px rgba(35, 41, 50, 0.3)
      position: absolute
      top: 8px
      left: 4px
      background: #fff
  &__list
    &-item
      line-height: 20px
  &__link
    font-size: 12px
    color: $secondFontColor
    text-decoration: none
    &:hover
      color: $secondFontColor
      text-decoration: underline
  &__title
    line-height: 20px
    font-size: 12px
    font-weight: 700
    display: block
    padding: 0 0 12px 0
    line-height: 12px
    min-height: 36px
  &__col
    width: 20%
    float: left
//dropdown end ------------------------
//country list --------------------------
.country
  text-align: center
  margin: 0 0 20px 0
  &__list
    &-item
      display: inline-block
      padding: 0 8px
    &-link
      display: block
      color: #1f1f1f
      font-size: 16px
      font-weight: 400
      text-transform: uppercase
      background: #f4f4f4
      padding: 15px 0
      text-decoration: none
      text-align: center
      &:hover
        background: $darkBlueColor
        color: #fff
      &.active
        background: $secondFontColor
        font-weight: 600
        color: #fff
    +b(mobile)
      display: none;
  &-slider
    position: relative
    padding: 0 45px
    .slick-next,.slick-prev
      cursor: pointer
      width: 17px
      height: 33px
      fill: #748893
      position: absolute
      top: 50%
      margin-top: -16px
      &:hover
        fill: $secondFontColor
    .slick-next
      right: 0
    .slick-prev
      left: 0
  &__select
    display: none
    +b(mobile)
      background: url('../images/carret-down-sm.svg') right center no-repeat;
      text-align: center;
      display: inline-block;
      padding: 5px 20px 5px 5px;
      select {
        padding: 0;
        text-align: center;
        border: none;
        background: transparent;
        font-size: 16px;
        color: $darkBlueColor;
        width: auto;
      }
//country list end ---------------
//phone list -----------------
.phone-list
  &__number
    color: #1f1f1f
    font-size: 18px
    font-weight: 700
    display: inline-block
    vertical-align: middle
  &__city
    color: #acadaf
    font-size: 12px
    font-weight: 300
    display: inline-block
    vertical-align: middle
    padding: 0 7px
  +b(tablet)
    &__number {
      font-size: 16px;
    }
    &__city {
      padding-right: 0;
    }
//phone list end ---------------------
//footer nav list -----------------
.footer
  &__nav
    &-link
      color: #fff
      &:hover
        color: $secondFontColor
//footer nav list end ----------------
//card -------------------
.card
  border-radius: 10px
  box-shadow: 0 0 3.8px 0.2px rgba(35, 41, 50, 0.3)
  transition: box-shadow .2s ease
  overflow: hidden
  height: 100%
  &:hover
    box-shadow: 0 0 9.5px 0.5px rgba(35, 41, 50, 0.3)
  a
    text-decoration: none
    color: $mainFontColor
    display: block
  &__img-box
    height: 156px
    position: relative
    overflow: hidden
    img
      min-width: 100%
      min-height: 100%
      position: relative
  &__gradient-bottom
    position absolute
    left 0
    bottom 0
    height 50px
    width 100%
    background: rgba(7,64,94,0.29);
    background: linear-gradient(to bottom, rgba(7,64,94,0) 0%, rgba(7,64,94,0.27) 27%, rgba(7,64,94,1) 100%);
  &__rating-icon
    position absolute
    background url('../images/card-image/icon-rating.png') no-repeat 50%
    top 0
    color #fff
    text-align center
    padding-top 10px
    font-size 13px
    font-weight bold
    left 15px
    width 27px
    height 39px
  &__icon-wishlist
    position absolute
    z-index 1
    bottom 10px
    right 15px
    height 20px
    width 20px
    & > svg 
      width 100%
      height 100%
      fill none
      stroke: #fff; 
      stroke-width: 40; 
    
  &__price
    position: absolute
    z-index 1
    display: inline-block
    font-size: 16px
    font-weight: 700
    color: #fff
    bottom: 0
    left: 0
    padding: 5px 47px 6px 23px
    // background: rgba(0, 0, 0, 0.72)
    line-height: 16px
  &__offer
    font-size: 11px
    height: 20px
    line-height: 20px
    background-color: #24b3fd
    text-align: center
    padding: 0 9px
    position: absolute
    top: 7px
    right: 5px
    color: #fff
    border-radius: 10px
  &__content
    padding: 19px 22px 22px
  &__country
    color: #acadaf
    display: block
    line-height: 19px
  &__title
    clearfix()
    border-bottom: 1px solid #898989
    padding: 0 0 3px 0
    margin: 0 0 3px 0
    a
      &:hover
        color: $secondFontColor
  &__rating
    color: $secondFontColor
    font-size: 20px
    font-weight: 700
    float: right
    padding: 5px 0 0 0
    &-star
      width: 18px
      height: 18px
      fill: $secondFontColor
  &__description
    font-size: 16px
    display: block
    padding: 5px 0 0 0
    &-icon
      width: 28px
      height: 28px
      fill: $secondFontColor
      display: inline-block
      vertical-align: middle
      margin: 0 5px 0 0
  &__tag
    &-box
      padding: 10px 0 0 0
    display: inline-block
    font-size: 14px
    padding: 0 5px
    margin: 0 0 4px 0
    background: #f0f0f0
    border-radius: 7px
  +b(mobile)
    &__img-box {
      height: 119px;
    }
    &__title {
      border: none;
      padding: 0;
    }
    &__content {
      padding: 5px 22px 10px;
    }
    &__description {
      display: none;
    }
    &__tag-box {
      display: none;
    }
//card end -------------
//help card ------------------
.help-card
  position: relative
  text-align: center
  border-radius: 10px
  box-shadow: 0 0 3.8px 0.2px rgba(35, 41, 50, 0.3)
  overflow: hidden
  letter-spacing: -5px
  height: 100%
  //min-height: 350px;
  padding-top: 12px
  padding-bottom: 12px
  &:after
    content: ''
    display: block
    top: 0
    bottom: 0
    left: 0
    right: 0
    position: absolute
    background: #000
    opacity: .39
  &:before
    content: ''
    display: inline-block
    height: 100%
    vertical-align: middle
    //min-height: 350px;
  img
    position: absolute
    top: 0
    left: 0
    min-height: 100%
    min-width: 100%
  &__content
    letter-spacing: normal
    display: inline-block
    vertical-align: middle
    position: relative
    z-index: 1
    max-width: 100%
  &__title
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
    display: block
    padding: 0 0 30px 0
    color: #fff
  &__subtitle
    font-size: 16px
    font-weight: 400
    text-transform: none
  &--email
    background: url("../images/help-card-img/help-card-img-01.jpg") center no-repeat
    background-size: cover
  &--phone
    background: url("../images/help-card-img/help-card-img-02.jpg") center no-repeat
    background-size: cover
  &--subscribe
    padding: 0 19px
    .help-card__title
      text-align: left
      font-size: 18px
    .short-form
      max-width: 100%
      padding-right: 103px
      input
        height: 50px
      button
        width: 103px
        margin: 0 -103px 0 0
  .short-form
    width: 238px
    margin: auto
  &--more
    background: url("../images/help-card-img/help-card-img-03.jpg") center no-repeat
    background-size: cover
    height: 195px
    &:before
      display: none
    .help-card__content
      display: block
      padding: 40px 0 0 0
    .button
      letter-spacing: normal
      position: absolute
      bottom: 17px
      right: 13px
      z-index: 1
  +b(mobile)
    min-height: 0;
//help card end ------------------
//category card ----------------------
.category-card
  position: relative
  height: 348px
  background: #000
  overflow: hidden
  border-radius: 10px
  box-shadow: 0 0 3.8px 0.2px rgba(35, 41, 50, 0.3)
  text-align: center
  &:before
    content: ''
    display: inline-block
    height: 100%
    vertical-align: middle
  &:hover
    img
      opacity: .3
      transform: scale(1.05)
    .category-card__count
      opacity: 1
  a
    text-decoration: none
  &__title
    color: #fff
    font-size: 22px
    font-weight: 700
    position: relative
    display: inline-block
    line-height: 22px
    top: 3px
    position: relative
    width: 62%
  &__count
    display: block
    position: absolute
    top: 100%
    left: 0
    width: 100%
    opacity: 0
    transition: opacity .2s ease
  img
    position: absolute
    opacity: .8
    top: 0
    left: 0
    min-height: 100%
    min-width: 100%
    transition: all .4s ease
//category card end ------------------
//news ------------------
.news
  &__item
    border-radius: 10px
    box-shadow: 0 0 3.8px 0.2px rgba(35, 41, 50, 0.3)
    overflow: hidden
  &__img-box
    height: 205px
    overflow: hidden
    img
      // min-width: 100%;
      // min-height: 100%;
  &__content
    padding: 11px 9px 8px 12px
    clearfix()
  &__date
    color: #b3adad
    font-size: 12px
    line-height: 14px
    display: block
    padding: 0 0 4px 0
  &__title
    display: block
    height: 38px
    overflow: hidden
    padding: 0 0 8px 0
    a
      font-weight: 700
      line-height: 15px
      color: $mainFontColor
      text-decoration: none
  &__description
    padding: 0
    height: 62px
    padding: 0 0 2px 0
    overflow: hidden
  &__link
    float: right
  +b(mobile)
    &__item {
      width: 100%;
      border-radius: 0;
      box-shadow: none;
    }
    &__title {
      height: 44px;
      padding: 0 0 0 0;;
      a {
        font-size: 16px;
        line-height: 22px;
      }
    }
    &__content {
      padding: 0;
    }
    &__img-box {
      display: none;
    }
    &__description {
      display: none;
    } 
    &__link {
      display: none;
    }
  +b(mobile)
    .simple-slider {
      margin: 0;
      &__item {
        padding: 13px 0 13px 0;
        &:nth-child(1n+5) {
          display: none;
        }
        border-top: 1px solid $mainFontColor;
        &:first-child {
          border: none;
        }
      }
    }
//news end -------------------
//feedback ---------------
.feedback
  &__item
    border-radius: 10px
    box-shadow: 0 0 3.8px 0.2px rgba(35, 41, 50, 0.3)
    overflow: hidden
    padding: 16px 16px 9px
    clearfix()
    a
      float: right
      margin: 0 -5px 0 0
    h5
      padding: 0 0 12px 0
  &__head
    padding: 0 0 14px 0
    clearfix()
    h3
      line-height: 24px
  &__subhead
    h5
      display: inline-block
  &__tripadviser
    display: inline-block
    vertical-align: middle
  &__rating
    display: block
    float: right
    min-width: 30px
    height: 30px
    line-height: 30px
    padding: 0 5px
    color: #fff
    background: $secondFontColor
    border-radius: 50%
    font-weight: 700
    text-align: center
  &__description
    padding: 14px 0 25px 0
    height: 139px
    border-top: 1px solid #191919
  .button
    float: right
//feedback end ----------------
//feedback and news slider ---------------
.simple-slider
  margin: 0 -15px
  position: relative
  &__item
    padding: 20px 15px
  .slick-dots
    bottom: auto
    top: 100%
    margin: 16px 0 0 0
    button
      width: 16px
      height: 16px
      border: 2px solid $secondFontColor
  +b(mobile)
    .slick-dots {
      position: static;
      margin: 0 0 17px 0;
    }
    
//feedback and news slider -------------
//short form
.short-form
  padding: 0 50px 0 0
  max-width: 100%
  clearfix()
  input
    border: none
    font-size: 16px
    padding: 15px 13px
    float: left
    max-height: 50px
  button
    width: 50px
    height: 50px
    float: right
    margin: 0 -50px 0 0
    padding: 0
    svg
      fill: #fff
      width: 12px
      height: 23px
//short form end
//copyright --------
.copyright
  color: #050505
  font-size: 12px
  font-weight: 300
//copyright end ---------
//developer info --------------
.developer-info
  color: #000
  font-size: 12px
  font-weight: 300
  &__logo
    width: 93px
    height: 12px
    fill: #323132
    vertical-align: middle
//developer info end -----------
//catalog list ---------
.catalog
  &__list
    +b(mobile)
      .catalog__list-item {
        padding: 0 0 30px 0;
      }
      .mob-hide {
        display: none;
      }
    @media (min-width: 768px)
      &--tiles-view
        margin: 0 -15px
        display: flex
        flex-flow: row wrap
        clearfix()
        .catalog__list-item
          width: 33.3333%
          padding: 0 15px 30px
          &--wide
            width: 100%
            .help-card
              min-height: 191px
              &:before
                min-height: 191px
        .card
          &__img-box
            height: 115px
          &__country
            font-size: 11px
            line-height: 15px
          &__content
            padding: 4px 15px 18px
          h3
            font-size: 14px
            line-height: 20px
          &__rating
            font-size: 15px
            &-star
              width: 13px
              height: 13px
          &__title
            margin: 0
          &__description
            font-size: 14px
            &-icon
              width: 20px
              height: 20px
        .help-card
          padding: 0 12px
          min-height: 342px
          &:before
            min-height: 342px
      &--lines-view
        .catalog__list-item
          padding: 0 0 15px 0
          //@include clearfix;
        .card
          position: relative
          &__img-box
            float: left
            width: 33.333%
            position: absolute
            height: 100%
            margin: 0 0 0 -15px
          &__price
            left: auto
            right: 0
          &__content
            float: right
            width: 66.6667%
            padding: 15px 30px 15px 15px
          &__tag
            &-box
              width: 50%
              float: right
              //text-align: right;
          &__title
            padding-bottom: 4px
            margin: 0
          &__description
            font-size: 14px
            &-box
              width: 50%
              float: left
        .help-card
          min-height: 194px
          &:before
            min-height: 194px

.js-showHotelsOnMap__inner
  width:100%;
  height:526px;
  background:#000;
  display:none;
  margin-bottom 30px
.infoWindow
  width 260px
  list-style-type none
  background #fff
  border-radius 12px
  &Marker
    position relative
    width 90px
    height 45px
    & > span
      position absolute
      top 50%
      left 50%
      transform translate(-50%,-75%)
      font-size 14px
      font-weight bold
    & > svg
      stroke #24b3fd
      stroke-width 1
      fill #fff
      width 88px
      height 44px
  &Card
    border-radius: 10px
    box-shadow: 0 0 3.8px 0.2px rgba(35, 41, 50, 0.3)
    transition: box-shadow .2s ease
    overflow: hidden
    height: 100%
    & h3
      font-size: 14px;
      line-height: 20px;
    &:hover
      box-shadow: 0 0 9.5px 0.5px rgba(35, 41, 50, 0.3)
    a
      text-decoration: none
      color: $mainFontColor
      display: block
    &__img-box
      height: 115px
      position: relative
      overflow: hidden
      img
        min-width: 100%
        min-height: 100%
        position: relative
    &__price
      position: absolute
      display: inline-block
      font-size: 16px
      font-weight: 700
      color: $secondFontColor
      bottom: 0
      left: 0
      padding: 5px 47px 6px 23px
      background: rgba(0, 0, 0, 0.72)
      line-height: 16px
    &__offer
      font-size: 11px
      height: 20px
      line-height: 20px
      background-color: #24b3fd
      text-align: center
      padding: 0 9px
      position: absolute
      top: 7px
      right: 5px
      color: #fff
      border-radius: 10px
    &__content
      padding: 4px 15px 18px;
    &__country
      color: #acadaf
      display: block
      font-size: 11px;
      line-height: 15px;
    &__title
      clearfix()
      border-bottom: 1px solid #898989
      padding: 0 0 3px 0
      margin: 0 0 3px 0
      a
        &:hover
          color: $secondFontColor
    &__rating
      color: $secondFontColor
      font-size: 15px
      font-weight: 700
      float: right
      padding: 5px 0 0 0
      &-star
        width: 13px;
        height: 13px;
        fill: $secondFontColor
    &__description
      font-size: 14px
      display: block
      padding: 5px 0 0 0
      &-icon
        width: 20px;
        height: 20px;
        fill: $secondFontColor
        display: inline-block
        vertical-align: middle
        margin: 0 5px 0 0
    &__tag
      display: inline-block
      font-size: 14px
      padding: 0 5px
      margin: 0 0 4px 0
      background: #f0f0f0
      border-radius: 7px
      &-box
        padding: 10px 0 0 0
        
    +b(mobile)
      &__img-box {
        height: 119px;
      }
      &__title {
        border: none;
        padding: 0;
      }
      &__content {
        padding: 5px 22px 10px;
      }
      &__description {
        display: none;
      }
      &__tag-box {
        display: none;
      }
  
//catalog list end --------------
//catalog sort ------------------
.catalog-sort
  padding: 0 0 25px 0
  clearfix()
  &__title
    color: #040404
    font-weight: 700
    vertical-align: middle
  &__list
    display: inline-block
    padding: 0 20px
    &-item
      display: inline-block
      padding: 0 7px
      text-align: center
      vertical-align: middle
      &.active
        .catalog-sort__link
          background: $lightGreyColor
          color: #000
  &__link
    color: #9f9fa0
    display: inline-block
    padding: 1px 15px
    text-decoration: none
    border-radius: 10px
    &:hover
      color: $darkBlueColor
  &__view-toggle
    float: right
  &__back
    display: none
  &__mobile
    display: none
    padding: 20px 15px
  &__mobile-title
    display: block
    margin-bottom: 10px
  &__checkboxes
    li
      margin-bottom: 14px
  +b(mobile)
    position: fixed;
    transform: translateX(-100%);
    bottom: 0;
    top: 45px;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
    transition: all 0.2s;

    &__back {
      display: block;
    }

    &__desctop {
      display: none;
    }

    &__mobile {
      display: block;
    }

    &.active {
      transform: translateX(0);
    }
//catalog sort end ---------------
//view-toggle ------------
.view-toggle
  display: inline-block
  &__item
    display: inline-block
    padding: 0 0 0 10px
    &.active
      .view-toggle__icon
        fill: $secondFontColor
  &__icon
    width: 19px
    height: 19px
    fill: $darkBlueColor
    vertical-align: middle
    &:hover
      fill: #c7c8cb
//view toggle end -----------
//product list ----------
.product
  &__list
    display: block
    display: flex
    flex-flow: row wrap
    margin: 0 -15px
    letter-spacing: -5px
    &-item
      letter-spacing: normal
      display: inline-block
      vertical-align: top
      width: 33.3333%
      padding: 0 15px 30px
      
    .help-card
      min-height: 350px
      &:before
        min-height: 350px
      .short-form
        width: 100%
    +b(tablet)
      &-item {
        width: 50%;
      }
    +b(mobile)
      &-item {
        width: 100%;
        &:nth-child(1n+6) {
          display: none;
        }
      }
    
//product list end --------------
//category list -------------
.category
  &__list
    padding: 30px 0 0 0
    margin: 0 -15px
    display: block
    display: flex
    flex-flow: row wrap
    letter-spacing: -5px
    clearfix()
    
    &-item
      display: inline-block
      letter-spacing: normal
      width: 33.3333%
      padding: 0 15px 30px
    .slick-list
      padding: 0 50px 0 0 !important
    +b(tablet)
      &-item {
        width: 50%;
      }
    +b(mobile)
      padding: 0;
    
    
//category list end ------------
//button more
.button-more-box
  .button
    float: right
  +b(mobile)
    text-align: center;
    .button {
      float: none;
      padding: 10px 44px;
    }
//section
.section
  padding: 0 0 30px 0
  &__title
    position: relative
    text-align: center
    padding: 0 0 6px 0
    &:before
      content: ''
      display: block
      height: 1px
      width: 100%
      background: #c6c6c6
      position: absolute
      top: 40%
      left: 0
    h1,h2
      background: #fff
      position: relative
      padding: 0 5px
      display: inline-block
    
    .pick-up
      color: $darkBlueColor
      font-size: 30px
      font-weight: 300
      display: inline-block
      background: #fff
      position: relative
      line-height: 45px
      cursor: pointer
      padding: 0 5px
      margin-left: -5px
      &:hover
        .dropdown__box
          display: block
        .pick-up__icon
          fill: $secondFontColor
      &__icon
        width: 18px
        height: 9px
        fill: #748893
        vertical-align: middle
      .dropdown__box
        display: none
        text-align: left
        padding: 20px 40px
        width: 100%
        font-weight: 400
      .dropdown__list-item
        font-size: 12px
      +b(mobile)
        display: block;
        font-size: 16px;
        display: none;
        
  &__subtitle
    display: block
    text-align: center
    font-size: 16px
    padding: 0 0 20px 0
  &.news,&.feedback
    padding-bottom: 45px
  +b(mobile)
    &__title {
      &:before {
        display: none;
      }
    }
    &__subtitle {
      display: none;
    }
//popup
.subscribe-popup
  display: none
  text-align: center
  p
    font-size: 35px
    font-weight: 700
    line-height: 35px
    color: $secondFontColor
    
.breadcrumbs
  font-family 'Open Sans'
  height 30px
  vertical-align middle
  margin-top 8px
  &__icon
    height inherit
    fill #999999
    display inline-block
    vertical-align middle
    width 5px
  &__item
    display inline-block
    vertical-align middle
    padding-left 7px
    text-decoration none
    color #999999
    font-size 14px
    
.border-hor
  height 1px
  width 100%
  background #c6c6c6
  
.social-share
  padding 30px 0
  text-align center
  &__description
    display inline-block
    vertical-align middle
    font-size 18px
    font-weight 600
    text-decoration uppercase
  &__icons
    display inline-block
    vertical-align middle
.dSubscribe
  background url('../images/bg/bg-subcribe.jpg') no-repeat center
  border-radius 12px
  margin-top 40px
  margin-bottom 40px
  padding-top 30px
  padding-bottom 30px
  &__title
    font-size 18px
    font-weight bold 
    color #fff
    text-align center
    margin-bottom 20px
    text-transform uppercase
  &__form
    width 420px
    margin 0 auto
    padding 0 120px 0 0
    & > button
      margin 0 -120px 0 0
      width 120px
    +b(mobile)
      width 90%
.dSubscribePrice
  background url('../images/bg/bg-subcribe-price.jpg') no-repeat center
  border-radius 12px
  margin-top 40px
  margin-bottom 40px
  padding-top 30px
  padding-bottom 30px
  +b(mobile)
    margin-top 0
    background-size cover
  &__title
    font-size 24px
    font-weight bold 
    color #fff
    text-align center
    margin-bottom 20px
    text-transform uppercase
    +b(mobile)
      font-size 18px
  &__form
    width 240px
    margin 0 auto
    padding 0 50px 0 0
    & > button
      margin 0 -50px 0 0
      width 50px
    +b(mobile)
      width 90%
      

.other-news
  margin-top 40px
  margin-bottom 30px
  
  +b(mobile)
    margin-top 0
  &__collumn
    col(1/4,cycle:4)
    margin-top 30px
    +b(tablet)      
      col(1/2, cycle:2)
      margin-top 30px
      & > div > a 
        overflow hidden
        & > img 
          min-height 100%
          min-width 100%
    +b(mobile)
      col(1)
      margin-top 30px
    
.stockBanners
  overflow hidden
  margin-top 30px
  margin-bottom 30px
  &__big
    width 100%
  &__collumn
    col(1/3, cycle:3)
    & > a 
      display block
    +b(tablet)
      col(1/2,cycle:2)
      
    +b(mobile)
      col(1)
      height auto
      margin-top 20px
  &__images
    width 100%
     