@import '../base/mixins&includes.styl'

.dNews
  &__h2
    font-family: "Roboto";
    color: #24b3fd;
    font-size: 40px;
    font-weight: 300;
    line-height: 45px;
    text-decoration: none;
    text-align: center;
    margin: 30px 0;
    +b(mobile)
      font-size 24px  
    
  &__main-banner
    height auto
    border-radius 8px
  
    & > img
      height inherit
      width 100%
  &__article
    width 66%
    margin 30px auto 0
    +b(tablet)
      width 100%
  &__article-2
    width 100%
    margin 30px auto 0
    &__collumn
      col(1/2,cycle:2)
      +b(mobile)
        col(1)
  &__article-3
    width 100%
    margin 30px auto 0
    &__collumn
      col(1,cycle:2)
      +b(mobile)
        col(1)
  &__image
    width 100%
    height auto
    
  &__ul
    
    & > span
      display block
      font-size 18px
      font-weight bold
      margin-top 10px
      padding-bottom 10px
    & > li 
      font-size 14px
      padding-left 20px
      font-weight normal
      padding-top 10px 
      padding-bottom 10px
      &:before
        color: #999;
        content: '';
        height: 5px;
        display: inline-block;
        width: 5px;
        background: #677e8a;
        border-radius: 53px;
        vertical-align: middle;
        margin-right: 8px;
    
  &__data
    color #999
    font-size 16px
    font-weight 600
    margin-top 20px
    margin-bottom 20px
  &__search
    border none !important 
    width auto !important 
    display inline-block !important
  &__button
    display inline-block
    background none !important
    width 22px !important
    height 22px !important
    outline none !important
    padding 0 !important
    & > svg
      fill #24b3fd
      height inherit
      width inherit
      transition: all 0.2s ease-in-out;
      &:hover
        fill #677e8a
        transition: all 0.2s ease-in-out;
        
        
