.hotelsArticle
  .section__title.hotelsArticle__title
    h2.h2 История Мальдивских островов
  .container.hotelsArticle__wrapper
    .hotelsArticle__content
      .hotelsArticle__history-column 
        |  В 1982 г., основываясь на записках британского комиссара на Цейлоне Х. Белла (1879) и американского антрополога К. Мэлони ("Население Мальдивских островов", 1980), Тур Хейердал приступил к исследованию истории Мальдив.
        |К тому времени уже было известно, что мальдивская культура появилась значительно раньше V в. до н.э., времени, когда на островах появились буддисты.
        |Раскопки, предпринятые Хейердалом на атоллах Хуваду и Адду, позволили сделать вывод, что на островах существовала более древняя цивилизация, вероятно арийского происхождения, родившаяся в долине реки Инд приблизительно за 2000 лет до н.э. Хейердал дает новую интерпретацию "хавиттам", обнаруженным в XIX в. Х. Беллом. Он полагает, что эти курганы, сложенные из коралловых блоков, являлись культовыми святынями народа, поклонявшегося Солнцу. Камни, окруженные концентрическими линиями, а также такие необычные для Мальдив мотивы, как цветы подсолнечника и лотоса, указывают на то, что их авторами были представители самых древних цивилизаций.
        |Заинтригованный Хейердал узнал у местных старожилов, что на Мальдивах существует легенда о белокожих людях высокого роста с голубыми глазами, орлиными носами, удлиненными лицами и темными волосами. Эти люди назывались рединами. Их верования основывались на культе Солнца и сопровождались обрядами, главными действующими лицами которых были злые духи-джинны.
        |Найденные при раскопках фрагменты керамики позволили датировать поселения рединов примерно 2000 г. до н.э.
        |На острове Ниланду, который находится на одинаковом расстоянии как от самого северного, так и от самого южного из Мальдивских островов, обнаружены следы еще одного племени, которое, вероятно, последовало за рединами. Этот народ назывался холинами. Их религиозные святилища были окружены скульптурами, напоминающими грибы-поганки. Когда мальдивцев спросили о происхождении этих людей, они вполне логично ответили, что холины пришли из земли холинов. Нам придется удовлетвориться этим ответом, так как нет ни одного научного исследования на эту тему.
        |В западной части атолла Мале живет небольшая община гиравару (около 200 человек).
        |Раньше они размещались на острове Гиравару, что к западу от Мале, а затем, когда на их родном острове начали строить международный аэропорт, переселились на Мале. Они претендуют на звание старейших жителей Мальдив, и их претензии, похоже, весьма обоснованы. Гиравару являются потомками тамилов, выходцев из южных районов Индии, хотя некоторые специалисты утверждают, что они близки австралийским аборигенам. Несмотря на заселение острова буддистами, а затем и принятие ислама, гиравару сохранили свои древние традиции и всегда считались в некотором роде изгоями.
        |Похоже, что дни этого племени сочтены. Ассимиляция гиравару идет быстрыми темпами. Живя в другой среде, они постепенно утрачивают свои обычаи. Правда, женщины до сих пор завязывают волосы с правой стороны, в то время как все остальные мальдивки — с левой, и украшают свою одежду необычной серебряной вышивкой. Гиравару говорят с особым акцентом. Он отличается от произношения жителей атолла Мале, но довольно похож на акцент обитателей атолла Адду.  
        |Остров Гиравару
        |Остров Гиравару
        |Буддисты и Индуисты
        |Вторая волна заселения Мальдивских островов приходится на 500 г. до н.э. В эту эпоху с территории современной Шри-Ланки на острова прибыли буддисты. Они обосновались преимущественно на южных островах, где и построили свои святилища в честь Будды, похожие на дагобы (буддистские святыни в форме купола), на месте древних хавитов культуры рединов.
      .hotelsArticle__history-column
        |  В 1982 г., основываясь на записках британского комиссара на Цейлоне Х. Белла (1879) и американского антрополога К. Мэлони ("Население Мальдивских островов", 1980), Тур Хейердал приступил к исследованию истории Мальдив.
        |К тому времени уже было известно, что мальдивская культура появилась значительно раньше V в. до н.э., времени, когда на островах появились буддисты.
        |Раскопки, предпринятые Хейердалом на атоллах Хуваду и Адду, позволили сделать вывод, что на островах существовала более древняя цивилизация, вероятно арийского происхождения, родившаяся в долине реки Инд приблизительно за 2000 лет до н.э. Хейердал дает новую интерпретацию "хавиттам", обнаруженным в XIX в. Х. Беллом. Он полагает, что эти курганы, сложенные из коралловых блоков, являлись культовыми святынями народа, поклонявшегося Солнцу. Камни, окруженные концентрическими линиями, а также такие необычные для Мальдив мотивы, как цветы подсолнечника и лотоса, указывают на то, что их авторами были представители самых древних цивилизаций.
        |Заинтригованный Хейердал узнал у местных старожилов, что на Мальдивах существует легенда о белокожих людях высокого роста с голубыми глазами, орлиными носами, удлиненными лицами и темными волосами. Эти люди назывались рединами. Их верования основывались на культе Солнца и сопровождались обрядами, главными действующими лицами которых были злые духи-джинны.
        |Найденные при раскопках фрагменты керамики позволили датировать поселения рединов примерно 2000 г. до н.э.
        |На острове Ниланду, который находится на одинаковом расстоянии как от самого северного, так и от самого южного из Мальдивских островов, обнаружены следы еще одного племени, которое, вероятно, последовало за рединами. Этот народ назывался холинами. Их религиозные святилища были окружены скульптурами, напоминающими грибы-поганки. Когда мальдивцев спросили о происхождении этих людей, они вполне логично ответили, что холины пришли из земли холинов. Нам придется удовлетвориться этим ответом, так как нет ни одного научного исследования на эту тему.
        |В западной части атолла Мале живет небольшая община гиравару (около 200 человек).
        |Раньше они размещались на острове Гиравару, что к западу от Мале, а затем, когда на их родном острове начали строить международный аэропорт, переселились на Мале. Они претендуют на звание старейших жителей Мальдив, и их претензии, похоже, весьма обоснованы. Гиравару являются потомками тамилов, выходцев из южных районов Индии, хотя некоторые специалисты утверждают, что они близки австралийским аборигенам. Несмотря на заселение острова буддистами, а затем и принятие ислама, гиравару сохранили свои древние традиции и всегда считались в некотором роде изгоями.
        |Похоже, что дни этого племени сочтены. Ассимиляция гиравару идет быстрыми темпами. Живя в другой среде, они постепенно утрачивают свои обычаи. Правда, женщины до сих пор завязывают волосы с правой стороны, в то время как все остальные мальдивки — с левой, и украшают свою одежду необычной серебряной вышивкой. Гиравару говорят с особым акцентом. Он отличается от произношения жителей атолла Мале, но довольно похож на акцент обитателей атолла Адду.  
        |Остров Гиравару
        |Остров Гиравару
        |Буддисты и Индуисты
        |Вторая волна заселения Мальдивских островов приходится на 500 г. до н.э. В эту эпоху с территории современной Шри-Ланки на острова прибыли буддисты. Они обосновались преимущественно на южных островах, где и построили свои святилища в честь Будды, похожие на дагобы (буддистские святыни в форме купола), на месте древних хавитов культуры рединов.
      .hotelsArticle__blockOpacity
    button.hotelsArticle__button Подробно