//----------------------------------------------------//
// Inputs & Form & Controls                           //
//----------------------------------------------------//

@import 'mixins&includes.styl'

fieldset
  display: block
  text-align: center
label
  display: block
  &:hover
    cursor: pointer
// Inputs
//----------------------------------------------------//
input[type="text"], 
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="search"],
  textarea,
  select,
  .input
  background: #fff
  border: 1px solid #bcbcbc
  color: $mainFontColor
  font-size: $mainFontSize
  line-height: $mainFontHeight
  padding: 4px 10px
  width: 100%
  display: block
  transition: all .3s ease-in-out
  -webkit-appearance: none
  border-radius: 0
  placeholderColor(#9c9c9c)
  &:focus
    border-color: #696969
    background: #fff
  &.error
  &.disabled,
    &[disabled="disabled"],
    &[disabled]
    background-color: #f3f3f3
textarea
  height: 150px
input[type="file"]
  display: none
  & + label
    display: block
    background: #fff
    font-size: 14px
    line-height: 24px
    padding: 25px 15px
    color: #969696
    text-align: center
    border: 1px dashed #c4c4c4
    transition: .2s ease-in-out
    &:hover
      border-color: #696969
      background: #e9e9e9
// Select
//----------------------------------------------------//
select
  display: block
  clearSelect()
  transition: none
  background-position: right 10px center
  background-repeat: no-repeat
  background-image: url("")
  background-color: transparent
  &:focus
    background-image: url("")
    background-repeat: no-repeat
.ui-front
  z-index: 9999
.ui-selectmenu-button
  border: 1px solid #939393
  border-radius: 0
  background: #f3f3f3
  color: #282828
  &[aria-expanded="true"]
    border-bottom-right-radius: 0
    border-bottom-left-radius: 0
    border: 1px solid #8e8e8e
    // span.ui-icon-triangle-1-s
  span.ui-selectmenu-text
    padding: 10px 15px 9px
    font-weight: 400
    font-size: 16px
    line-height: 24px
  span.ui-icon-triangle-1-s
    width: 45px
    height: 100%
    right: 0
    top: 0
    bottom: 0
    border-left: 1px solid #939393
    background: url("../img/icons/slct-open.png") center center no-repeat
    margin: 0
.ui-selectmenu-menu
  .ui-widget-content
    border-radius: 0
    background: #f3f3f3
    color: #282828
    .ui-menu-item
      padding: 10px 15px 9px
      font-weight: 400
      font-size: 16px
      line-height: 24px
      &.ui-state-focus
        border: 0
        margin: 0
        font-weight: inherit
// Buttons
//----------------------------------------------------//
button,
  .button
  text-align: center
  vertical-align: top
  font-weight: 700
  font-size: 16px
  line-height: 16px
  padding: 17px 18px
  background: $secondFontColor
  color: #fff
  border: 0
  border-radius: 0
  position: relative
  transition: all .2s ease-in-out
  display: inline-block
  &:hover,
    &.active
    color: #fff
    background: $darkBlueColor
  &:focus
  &.disabled,
    &[disabled="disabled"], 
    &[disabled]
    background: #ccc
    color: #aaa
    cursor: not-allowed
  &--more
    padding-left: 32px
    padding-right: 36px
// Checkbox
//----------------------------------------------------//
input[type="checkbox"]
  display: none
  & + label
    display: inline-block
    vertical-align: top
    padding: 0 0 0 30px
    position: relative
    cursor: pointer
    font-size: 14px
    width: auto !important
    &:hover
      color: $secondFontColor
    &:before, &:after
      position: absolute
      content: ''
    &:before
      transition: all .2s ease
      left: 0
      top: 4px
      width: 12px
      height: 12px
      border-radius: 2px
      border: 1px solid #aeaeae
  &:not(:checked) + label
    &:hover
      &:before
        border: 1px solid $secondFontColor
  &:checked + label
    color: $secondFontColor
    [class^="icon-"],
      [class*="icon-"]
      fill: $secondFontColor
    &:before
      border: 1px solid $secondFontColor
      background: $secondFontColor
  // &:disabled:checked + label
  //   &:before
  // &:disabled:not(:checked) + label
  //   &:before
// checkbox--has-icon
//----------------------------------------------------//
input[type="checkbox"].checkbox--has-icon
  & + label
    padding-left: 55px
    &:hover
      color: #24b3fd
      [class^="icon-"],
        [class*="icon-"]
        fill: #24b3fd
    .icon-wrap
      position: absolute
      top: 0
      left: 24px
      width: 30px
      text-align: center
// checkbox--inline
//----------------------------------------------------//
input[type="checkbox"].checkbox--inline
  & + label
    padding-left: 16px
    &:before,
      &:after
      top: 3px
// checkbox--lg
//----------------------------------------------------//
input[type="checkbox"].checkbox--lg
  & + label
    padding-left: 38px
    &:before,
      &:after
      width: 18px !important
      height: 18px !important
      top: 0
// Radio
//----------------------------------------------------//
input[type="radio"]
  display: none
  & + label
    display: inline-block
    vertical-align: top
    padding: 0 0 0 30px
    position: relative
    cursor: pointer
    font-size: 14px
    width: auto
    &:before, &:after
      position: absolute
      content: ''
    &:before
      transition: all .2s ease
      top: 4px
      left: 0
      width: 12px
      height: 12px
      border: 1px solid $secondFontColor
      border-radius: 50%
  &:not(:checked) + label
    &:before
      &:hover
        border: 1px solid $darkBlueColor
  &:checked + label
    &:before
      background: $secondFontColor
  // &:disabled:checked + label
  //   &:before
  // &:disabled:not(:checked) + label
  //   &:before
// radio--toggle
//----------------------------------------------------//
.toggle
  font-size: 0
input[type="radio"].radio--toggle
  & + label
    border: 1px solid #dddddd
    padding: 0 10px
    height: 31px
    line-height: 29px
    min-width: 110px
    text-align: center
    margin-left: -1px
    font-size: 16px
    &:before,
      &:after
      display: none !important
  &:checked + label
    background-color: #f4f4f4
// Stars Rating
//----------------------------------------------------//
.rating-stars
  clearfix()
  &.static
    pointer-events: none
  &:not(old)
    display: inline-block
    vertical-align: top
    > input[type="radio"]
      margin-right: -100%
      opacity: 0
      display: none
    > label
      display: block
      float: right
      position: relative
      margin: 0 1px 0 0
      padding: 0
      text-indent: -9999%
      overflow: hidden
      top: 0
      // @include sprite($stars-green-empty);
      &:after
        content: ''
        position: absolute
        left: 0
        top: 0
        opacity: 0
        transition: opacity 0.2s linear
        // @include sprite($stars-green);
      &:before
        display: none
.rating-stars:not(old) > label:hover:after,
  .rating-stars:not(old) > label:hover ~ label:after,
  .rating-stars:not(:hover) > :checked ~ label:after
  opacity: 1
.rating-stars.static
  // @include sprite($stars-gray);
  position: relative
  .inner
    position: absolute
    content: ''
    left: 0
    top: 0
    bottom: 0
    // @include sprite($stars-yellow);