//----------------------------------------------------//
// Mixins & Includes                                  //
//----------------------------------------------------//
notext()
  overflow: hidden
  text-indent: -9999px
.clearfix:after
  content: ""
  display: table
  clear: both
.centered
  display: table
  width: 100%
  height: 100%
  > *
    display: table-cell
    text-align: center
    vertical-align: middle
// PLACEHOLDER MIXIN
placeholderColor($input-text-color)
  &::-webkit-input-placeholder
    color: $input-text-color
  &:-moz-placeholder
    color: $input-text-color
    opacity: 1
  &::-moz-placeholder
    color: $input-text-color
    opacity: 1
  &:-ms-input-placeholder
    color: $input-text-color
  &:focus:-moz-placeholder
    color: transparent
    opacity: 1
  &:focus::-moz-placeholder
    color: transparent
    opacity: 1
  &:focus::-webkit-input-placeholder
    color: transparent
  &:focus:-ms-input-placeholder
    color: transparent
  &:focus::placeholder
    color: transparent
clearfix()
  &:after
    content: " "
    display: block
    clear: both
// Clear select without default button
clearSelect()
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  -webkit-border-radius: 0
  -moz-border-radius: 0
  border-radius: 0
//elements get appended with "__" and the $name
// @mixin e($name) {
//  @at-root   #{&}__#{$name} {
//    @content;
//  }
// }
// //modifiers get appended with "--" and the $name
// @mixin m($name) {
//  @at-root   #{&}--#{$name} {
//    @content;
//  }
// }
b($point)
  text-decoration none
  if $point == desktop
    @media (min-width: 1366px)
      {block}
  else if $point == laptop
    @media (max-width: 1365px)
      {block}
  else if $point == tablet
    @media (max-width: 1023px)
      {block}
  else if $point == phablet
    @media (min-width: 37.5em)
      {block}
  else if $point == mobile
    @media (max-width: 767px)
      {block}
  else if $point == mobile3x
    @media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 3dppx), only screen and (min-resolution: 350dpi)
      {block}