extends layouts/application.jade



block content
  .wrapper
    include layouts/header.jade

    section.l-agents
      h2.l-agents__title test
      .container.b-agentsInfo
        .col-6.colm-12
          p.b-agentsInfo__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio nam asperiores esse quas, eveniet! Rerum fugit praesentium expedita nobis, dolores, quasi ducimus qui molestias minus sapiente laborum numquam quas. A soluta aperiam fuga quae et voluptatem? Explicabo delectus magni odit voluptatibus nulla, quod quas sapiente, ducimus suscipit. Consequuntur, labore. Accusamus?
        .col-6.colm-12
          p.b-agentsInfo__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta magni aliquam eius sunt voluptates sint temporibus quaerat in blanditiis? Ea at vero numquam, non quam corporis placeat voluptatum explicabo. Fugit, aspernatur, unde. Assumenda laborum delectus natus officia ducimus aperiam at corporis unde quia quo reprehenderit, fugit eveniet! Alias, molestias, dolores!
    section.l-agentsForm
      h2.l-agentsForm__title registration agents
      .container
        form.b-agentsForm
          h3.b-agentsForm__title test:
          .b-agentsForm__data
              label.b-agentsForm__label data lorem<br> data<br>data
              input.b-agentsForm__input(type="text")
          .b-agentsForm__data
              label.b-agentsForm__label data<br>data<br>data
              input.b-agentsForm__input(type="text")
          .b-agentsForm__data
              label.b-agentsForm__label data<br>data<br>data
              input.b-agentsForm__input(type="text")
          .b-agentsForm__data
              label.b-agentsForm__label data<br>data<br>data
              input.b-agentsForm__input(type="text")
          .b-agentsForm__data
              label.b-agentsForm__label data<br>data<br>data
              input.b-agentsForm__input(type="text")
          .b-agentsForm__data
              label.b-agentsForm__label data<br>data<br>data
              input.b-agentsForm__input(type="text")
          .b-agentsForm__data
              label.b-agentsForm__label data<br>data<br>data
              input.b-agentsForm__input(type="text")
          .b-agentsForm__data.upload
              label.b-agentsForm__label data<br>data<br> data
              .file_upload.b-agentsForm__input
                //- div(style="float:right;width:30px;border-radius:4px;border:1px solid #000;height:100%;")
                button(type="button")
                  div
                  svg
                    use(xlink:href="#screpka")
                input(type="file")
              .file-upload__text  Lorem ipsum dolor sit amet.

          h3.b-agentsForm__title test:
          .b-agentsForm__data
              label.b-agentsForm__label data lorem<br> data<br>data
              input.b-agentsForm__input(type="text")
          .b-agentsForm__data
              label.b-agentsForm__label data<br>data<br>data
              input.b-agentsForm__input(type="text")
          .b-agentsForm__data
              label.b-agentsForm__label data<br>data<br>data
              input.b-agentsForm__input(type="text")
          .b-agentsForm__data.last
              label.b-agentsForm__label data<br>data<br>data
              input.b-agentsForm__input(type="text")

          h3.b-agentsForm__title  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          .b-agentsForm__data
              label.b-agentsForm__label data lorem<br> data<br>data
              input.b-agentsForm__input(type="text")
          .b-agentsForm__data
              label.b-agentsForm__label data<br>data<br>data
              input.b-agentsForm__input(type="text")
          .b-agentsForm__data
              label.b-agentsForm__label data<br>data<br>data
              input.b-agentsForm__input(type="text")
          .b-agentsForm__title
          .row.b-agentsForm__checkbox
            li
              input#license1.checkbox--inline(type='checkbox')
              label(for='license1') Я согласен с условиями публичной оферты
            li.filter__li
              input#license2.checkbox--inline(type='checkbox')
              label(for='license2') Получать уведомления по email
            button.b-agentsForm__button(type="submit") test
              
          

  include layouts/footer.jade