extends layouts/application.jade



block content

  .wrapper
    //- // HEADER
    include layouts/header.jade
    //- // HEADER [END]
    main.content.catalog-page
      .container.columns
        aside.sidebar.tabs.js-init-tabs.js-mobile-screen
          ul.tabs__list
            li.tabs__li.active
              a.tabs__link(href='#', data-tab='1') Туры
            li.tabs__li
              a.tabs__link(href='#', data-tab='2') Отели
            li.tabs__li
              a.tabs__link(href='#', data-tab='3') Билеты
          .tabs__content.active(data-content='1')
            .filter
              a.filter__back.back.js-close-mobile-screen(href='#')
                svg.icon-arrow-left
                  use(xlink:href='#arrow-left')
                | Назад
              form.filter__form(action='#')
                .filter__scroll
                  .filter__inner
                    fieldset.filter__item
                      strong.filter__title Цена
                      .filter__range.range
                        .range__slider.js-init-range(data-min='0', data-max='1000000', data-value1='1000', data-value2='900000', data-step='10000')
                        .range__values
                          span.range__value
                            span.js-range-min
                            |  руб.
                          span.range__value
                            span.js-range-max
                            |  руб.
                    fieldset.filter__item
                      strong.filter__title Категория отеля
                      .filter__stars.stars
                        input#star-1(type='radio', name='star', value='1')
                        label(for='star-1')
                          svg.icon-star
                            use(xlink:href='#star')
                          svg.icon-star-fill
                            use(xlink:href='#star-fill')
                        input#star-2(type='radio', name='star', value='2')
                        label(for='star-2')
                          svg.icon-star
                            use(xlink:href='#star')
                          svg.icon-star-fill
                            use(xlink:href='#star-fill')
                        input#star-3(type='radio', name='star', value='3')
                        label(for='star-3')
                          svg.icon-star
                            use(xlink:href='#star')
                          svg.icon-star-fill
                            use(xlink:href='#star-fill')
                        input#star-4(type='radio', name='star', value='4')
                        label(for='star-4')
                          svg.icon-star
                            use(xlink:href='#star')
                          svg.icon-star-fill
                            use(xlink:href='#star-fill')
                        input#star-5(type='radio', name='star', value='5')
                        label(for='star-5')
                          svg.icon-star
                            use(xlink:href='#star')
                          svg.icon-star-fill
                            use(xlink:href='#star-fill')
                    fieldset.filter__item
                      strong.filter__title Перелет
                      ul.filter__list.filter__list--inline
                        li.filter__li
                          input#flight-1.checkbox--inline(type='checkbox')
                          label(for='flight-1') Прямой
                        li.filter__li
                          input#flight-2.checkbox--inline(type='checkbox')
                          label(for='flight-2') Непрямой
                        li.filter__li
                          input#flight-3.checkbox--inline(type='checkbox')
                          label(for='flight-3') Все
                    fieldset.filter__item
                      strong.filter__title Питание
                      ul.filter__list
                        li.filter__li
                          input#food-1.checkbox--has-icon(type='checkbox')
                          label(for='food-1')
                            span.icon-wrap
                              svg.icon-no-food
                                use(xlink:href='#no-food')
                            |                           Без питания
                        li.filter__li
                          input#food-2.checkbox--has-icon(type='checkbox')
                          label(for='food-2')
                            span.icon-wrap
                              svg.icon-breakfest
                                use(xlink:href='#breakfest')
                            |                           Только завтраки
                        li.filter__li
                          input#food-3.checkbox--has-icon(type='checkbox')
                          label(for='food-3')
                            span.icon-wrap
                              svg.icon-lunch-alternative
                                use(xlink:href='#lunch-alternative')
                            |                           Завтрак и ужин
                        li.filter__li
                          input#food-4.checkbox--has-icon(type='checkbox')
                          label(for='food-4')
                            span.icon-wrap
                              svg.icon-lunch
                                use(xlink:href='#lunch')
                            |                           Завтрак, обуд, ужин (без алкоголя)
                        li.filter__li
                          input#food-5.checkbox--has-icon(type='checkbox')
                          label(for='food-5')
                            span.icon-wrap
                              svg.icon-coctail
                                use(xlink:href='#coctail')
                            |                           Все включено
                    fieldset.filter__item
                      strong.filter__title Виды отдыха
                      ul.filter__list
                        li.filter__li
                          input#rest-1(type='checkbox')
                          label(for='rest-1') Все включено
                        li.filter__li
                          input#rest-2(type='checkbox')
                          label(for='rest-2') Пляж
                        li.filter__li
                          input#rest-3(type='checkbox')
                          label(for='rest-3') Город
                        li.filter__li
                          input#rest-4(type='checkbox')
                          label(for='rest-4') Семейных отдых
                        li.filter__li
                          input#rest-5(type='checkbox')
                          label(for='rest-5') Отдых с детьми
                        li.filter__li
                          input#rest-6(type='checkbox')
                          label(for='rest-6') Молодожены
                        li.filter__li
                          input#rest-7(type='checkbox')
                          label(for='rest-7') Экономичных отдых
                        li.filter__li
                          input#rest-8(type='checkbox')
                          label(for='rest-8') LUXE коллекция
                        li.filter__li
                          input#rest-9(type='checkbox')
                          label(for='rest-9') Эксклюзив
                        li.filter__li
                          input#rest-10(type='checkbox')
                          label(for='rest-10') Только для взрослых
                        li.filter__li
                          input#rest-11(type='checkbox')
                          label(for='rest-11') SPA
                        li.filter__li
                          input#rest-12(type='checkbox')
                          label(for='rest-12') Автобусные туры
                        li.filter__li
                          input#rest-13(type='checkbox')
                          label(for='rest-13') ЯХТА
                        li.filter__li
                          input#rest-14(type='checkbox')
                          label(for='rest-14') Рекомендованные отели
                        li.filter__li
                          input#rest-15(type='checkbox')
                          label(for='rest-15') Виллы и Сьюты
                .filter__buttons
                  button.filter__button.button(type='submit') Найдено 146
                  a.filter__reset.js-reset-filter(href='#') Сбросить фильтр
          .tabs__content(data-content='2')
            .filter
              a.filter__back.back.js-close-mobile-screen(href='#')
                svg.icon-arrow-left
                  use(xlink:href='#arrow-left')
                | Назад
              form.filter__form(action='#')
                .filter__scroll
                  .filter__inner
                    fieldset.filter__item
                      strong.filter__title Цена
                      .filter__range.range
                        .range__slider.js-init-range(data-min='0', data-max='1000000', data-value1='1000', data-value2='900000', data-step='10000')
                        .range__values
                          span.range__value
                            span.js-range-min
                            |  руб.
                          span.range__value
                            span.js-range-max
                            |  руб.
                    fieldset.filter__item
                      strong.filter__title Категория отеля
                      .filter__stars.stars
                        input#star-1-hotels(type='radio', name='star', value='1')
                        label(for='star-1-hotels')
                          svg.icon-star
                            use(xlink:href='#star')
                          svg.icon-star-fill
                            use(xlink:href='#star-fill')
                        input#star-2-hotels(type='radio', name='star', value='2')
                        label(for='star-2-hotels')
                          svg.icon-star
                            use(xlink:href='#star')
                          svg.icon-star-fill
                            use(xlink:href='#star-fill')
                        input#star-3-hotels(type='radio', name='star', value='3')
                        label(for='star-3-hotels')
                          svg.icon-star
                            use(xlink:href='#star')
                          svg.icon-star-fill
                            use(xlink:href='#star-fill')
                        input#star-4-hotels(type='radio', name='star', value='4')
                        label(for='star-4-hotels')
                          svg.icon-star
                            use(xlink:href='#star')
                          svg.icon-star-fill
                            use(xlink:href='#star-fill')
                        input#star-5-hotels(type='radio', name='star', value='5')
                        label(for='star-5-hotels')
                          svg.icon-star
                            use(xlink:href='#star')
                          svg.icon-star-fill
                            use(xlink:href='#star-fill')
                    fieldset.filter__item
                      strong.filter__title Питание
                      ul.filter__list
                        li.filter__li
                          input#food-1-hotels.checkbox--has-icon(type='checkbox')
                          label(for='food-1-hotels')
                            span.icon-wrap
                              svg.icon-no-food
                                use(xlink:href='#no-food')
                            |                           Без питания
                        li.filter__li
                          input#food-2-hotels.checkbox--has-icon(type='checkbox')
                          label(for='food-2-hotels')
                            span.icon-wrap
                              svg.icon-breakfest
                                use(xlink:href='#breakfest')
                            |                           Только завтраки
                        li.filter__li
                          input#food-3-hotels.checkbox--has-icon(type='checkbox')
                          label(for='food-3-hotels')
                            span.icon-wrap
                              svg.icon-lunch-alternative
                                use(xlink:href='#lunch-alternative')
                            |                           Завтрак и ужин
                        li.filter__li
                          input#food-4-hotels.checkbox--has-icon(type='checkbox')
                          label(for='food-4-hotels')
                            span.icon-wrap
                              svg.icon-lunch
                                use(xlink:href='#lunch')
                            |                           Завтрак, обуд, ужин (без алкоголя)
                        li.filter__li
                          input#food-5-hotels.checkbox--has-icon(type='checkbox')
                          label(for='food-5-hotels')
                            span.icon-wrap
                              svg.icon-coctail
                                use(xlink:href='#coctail')
                            |                           Все включено
                    fieldset.filter__item
                      strong.filter__title Виды отдыха
                      ul.filter__list
                        li.filter__li
                          input#rest-1-hotels(type='checkbox')
                          label(for='rest-1-hotels') Все включено
                        li.filter__li
                          input#rest-2-hotels(type='checkbox')
                          label(for='rest-2-hotels') Пляж
                        li.filter__li
                          input#rest-3-hotels(type='checkbox')
                          label(for='rest-3-hotels') Город
                        li.filter__li
                          input#rest-4-hotels(type='checkbox')
                          label(for='rest-4-hotels') Семейных отдых
                        li.filter__li
                          input#rest-5-hotels(type='checkbox')
                          label(for='rest-5-hotels') Отдых с детьми
                        li.filter__li
                          input#rest-6-hotels(type='checkbox')
                          label(for='rest-6-hotels') Молодожены
                        li.filter__li
                          input#rest-7-hotels(type='checkbox')
                          label(for='rest-7-hotels') Экономичных отдых
                        li.filter__li
                          input#rest-8-hotels(type='checkbox')
                          label(for='rest-8-hotels') LUXE коллекция
                        li.filter__li
                          input#rest-9-hotels(type='checkbox')
                          label(for='rest-9-hotels') Эксклюзив
                        li.filter__li
                          input#rest-1-hotels0(type='checkbox')
                          label(for='rest-1-hotels0') Только для взрослых
                        li.filter__li
                          input#rest-1-hotels1(type='checkbox')
                          label(for='rest-1-hotels1') SPA
                        li.filter__li
                          input#rest-1-hotels2(type='checkbox')
                          label(for='rest-1-hotels2') Автобусные туры
                        li.filter__li
                          input#rest-1-hotels3(type='checkbox')
                          label(for='rest-1-hotels3') ЯХТА
                        li.filter__li
                          input#rest-1-hotels4(type='checkbox')
                          label(for='rest-1-hotels4') Рекомендованные отели
                        li.filter__li
                          input#rest-1-hotels5(type='checkbox')
                          label(for='rest-1-hotels5') Виллы и Сьюты
                .filter__buttons
                  button.filter__button.button(type='submit') Найдено 146
                  a.filter__reset.js-reset-filter(href='#') Сбросить фильтр
          .tabs__content(data-content='3') 3
        .main
          .value
            a.value__edit.js-call-mobile-screen(href='.search')
              svg.icon-pen
                use(xlink:href='#pen')
            .value__item
              span(data-sync='#input-from') Москва
              svg.value__arrow.icon-arrow-direction
                use(xlink:href='#arrow-direction')
              span(data-sync='#input-to') Фр. Полинезия
            .value__item
              span(data-sync='#input-people')
                strong 2
                |  взрослых 
                strong 1
                |  ребёнок,
              span(data-sync='#input-nignts')
                strong 10 авг.
                |  на 7 ночей ± 2
          .search.search--sm.js-mobile-screen
            a.search__back.back.js-close-mobile-screen(href='#')
              svg.icon-arrow-left
                use(xlink:href='#arrow-left')
              | Назад
            form(action='')
              .search__items
                .search__item
                  svg.search__icon.icon-compass
                    use(xlink:href='#compass')
                  input.search__input.js-init-autocomplete(type='text', placeholder='Куда', data-source='places')
                .search__item.search__item--lg.search__item--people
                  svg.search__icon.icon-people
                    use(xlink:href='#people')
                  input.search__input.js-init-people(type='text', readonly='true', placeholder='2 взрослых 0 детей')
                  svg.search__arrow
                    use(xlink:href='#caret-down')
                .search__item.search__item--lg
                  svg.search__icon.icon-calendar
                    use(xlink:href='#calendar')
                  input.search__input.js-init-calendar(type='text', readonly='true', placeholder='Выберите дату')
                  svg.search__arrow
                    use(xlink:href='#caret-down')
                .search__item
                  svg.search__icon.icon-location
                    use(xlink:href='#location')
                  input.search__input.js-init-autocomplete(type='text', placeholder='Из Москвы', data-source='from')
                  svg.search__arrow
                    use(xlink:href='#caret-down')
              strong.search__label Вы искали:
              .search__controls
                button.search__control.button.js-close-mobile-screen(type='submit') Найдено 146
                a.search__reset(href='#') Сбросить фильтр
          //- // people-drop
          .people-drop.dropdown__box
            .dropdown__triangle
            .people
              .people__item
                .people__top
                  svg.people__minus.icon-minus
                    use(xlink:href='#minus')
                  svg.icon-man
                    use(xlink:href='#man')
                  svg.people__plus.icon-plus
                    use(xlink:href='#plus')
                strong.people__value
                  | Взрослыx: 
                  input#input-adult.people__input(data-min='0', data-max='10', value='2')
              .people__item
                .people__top
                  svg.people__minus.icon-minus
                    use(xlink:href='#minus')
                  svg.icon-baby
                    use(xlink:href='#baby')
                  svg.people__plus.icon-plus
                    use(xlink:href='#plus')
                strong.people__value
                  | Детей: 
                  input#input-child.people__input(data-min='0', data-max='10', value='0')
          //- // people-drop end
          //- // calendar-drop
          .calendar-drop.dropdown__box
            .dropdown__triangle
            .calendar
              .calendar__top
                strong.calendar__title Выберите кол-во ночей
                .calendar__left
                  .calendar__amount
                    .calendar__minus
                      svg.icon-minus
                        use(xlink:href='#minus')
                    input.calendar__nights(type='text', value='7 ночей', data-min='0', data-max='100')
                    .calendar__plus
                      svg.icon-plus
                        use(xlink:href='#plus')
                .calendar__right
                  .calendar__toggle.toggle
                    input#input-calendar-1.radio--toggle(type='radio', name='calendar', value='1', checked='checked')
                    label(for='input-calendar-1') ± 2 Ночи
                    input#input-calendar-2.radio--toggle(type='radio', name='calendar', value='2')
                    label(for='input-calendar-2') Ровно
              .calendar__bottom
                strong.calendar__title Выберите дату вылета
                .calendar__datepicker
                button.calendar__button.button Сохранить
          //- // calendar-drop end
          .catalog-sort.js-mobile-screen
            a.catalog-sort__back.back.js-close-mobile-screen(href='#')
              svg.icon-arrow-left
                use(xlink:href='#arrow-left')
              | Назад
            .catalog-sort__desctop
              span.catalog-sort__title Сортировать по:
              ul.catalog-sort__list.js-sort
                li.catalog-sort__list-item.active
                  a.catalog-sort__link(href='#') цене
                li.catalog-sort__list-item
                  a.catalog-sort__link(href='#') дате
                li.catalog-sort__list-item
                  a.catalog-sort__link(href='#') популярности
                li.catalog-sort__list-item
                  a.catalog-sort__link(href='#') названию
              .catalog-sort__view-toggle
                span.catalog-sort__title Вид
                ul.view-toggle
                  li#js-tilesView.view-toggle__item.active
                    a(href='#')
                      svg.view-toggle__icon
                        use(xlink:href='#squaresicon')
                  li#js-linesView.view-toggle__item
                    a(href='#')
                      svg.view-toggle__icon
                        use(xlink:href='#list')
                  li#js-showHotelsOnMap.view-toggle__item
                    a(href='#')
                      svg.view-toggle__icon
                        use(xlink:href='#mapiconcatalog')
            .catalog-sort__mobile
              form(action='')
                strong.catalog-sort__mobile-title Сортировать по
                ul.catalog-sort__checkboxes
                  li
                    input#sort-1.checkbox--lg(type='checkbox')
                    label(for='sort-1') Цене
                  li
                    input#sort-2.checkbox--lg(type='checkbox')
                    label(for='sort-2') Дате
                  li
                    input#sort-3.checkbox--lg(type='checkbox')
                    label(for='sort-3') Поплурятности
          
          #mapCatalog.js-showHotelsOnMap__inner
          ul.catalog__list.catalog__list--tiles-view
            
            li.catalog__list-item
              .card
                a(href='#')
                  .card__img-box
                    img(src='images/card-image/card-image-06.jpg', alt='')
                    span.card__rating-icon 7.3
                      //- img(src="./images/card-image/icon-rating.png", alt="")
                    span.card__price от 5 500 USD
                    span.card__offer Спец. предложений: 5
                    span.card__icon-wishlist
                      svg
                        use(xlink:href="#wishlist")
                    span.card__gradient-bottom
                  .card__content
                    span.card__country Мальдивы
                    .card__title
                      span.card__rating
                        | 5
                        svg.card__rating-star
                          use(xlink:href='#star-fill')
                      h3 Kurumba Village
                    .card__description-box
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#night')
                        |                       7 ночей на двоих
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#calendar')
                        |                       с 25.09 - по 10.10
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#food')
                        |                       завтраки и обеды
                    .card__tag-box
                      span.card__tag эксклюзив
                      span.card__tag семейный отдых
                      span.card__tag LUXE  коллекция
                      span.card__tag экономичный отдых
            li.catalog__list-item
              .card
                a(href='#')
                  .card__img-box
                    img(src='images/card-image/card-image-06.jpg', alt='')
                    span.card__rating-icon 7.3
                      //- img(src="./images/card-image/icon-rating.png", alt="")
                    span.card__price от 5 500 USD
                    span.card__offer Спец. предложений: 5
                    span.card__icon-wishlist
                      svg
                        use(xlink:href="#wishlist")
                    span.card__gradient-bottom
                  .card__content
                    span.card__country Мальдивы
                    .card__title
                      span.card__rating
                        | 5
                        svg.card__rating-star
                          use(xlink:href='#star-fill')
                      h3 Kurumba Village
                    .card__description-box
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#night')
                        |                       7 ночей на двоих
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#calendar')
                        |                       с 25.09 - по 10.10
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#food')
                        |                       завтраки и обеды
                    .card__tag-box
                      span.card__tag эксклюзив
                      span.card__tag семейный отдых
                      span.card__tag LUXE  коллекция
                      span.card__tag экономичный отдых
            li.catalog__list-item
              .card
                a(href='#')
                  .card__img-box
                    img(src='images/card-image/card-image-01.jpg', alt='')
                    span.card__price от 5 500 USD
                  .card__content
                    span.card__country Мальдивы
                    .card__title
                      span.card__rating
                        | 5
                        svg.card__rating-star
                          use(xlink:href='#star-fill')
                      h3 Kurumba Village
                    .card__description-box
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#night')
                        |                       7 ночей на двоих
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#calendar')
                        |                       с 25.09 - по 10.10
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#food')
                        |                       завтраки и обеды
                    .card__tag-box
                      span.card__tag эксклюзив
                      span.card__tag семейный отдых
                      span.card__tag LUXE  коллекция
                      span.card__tag экономичный отдых
            li.catalog__list-item.mob-hide
              .help-card.help-card--email
                .help-card__content
                  .help-card__title ПОМОЧЬ ПОДОБРАТЬ ОТДЫХ  ПО ЭТОМУ НАПРАВЛЕНИЮ?
                  .short-form
                    input(type='text', placeholder='Ваш E-mail')
                    button.subscribe-button(type='submit', data-href='#subscribe-popup')
                      svg
                        use(xlink:href='#arrow-right')
            li.catalog__list-item
              .card
                a(href='#')
                  .card__img-box
                    img(src='images/card-image/card-image-01.jpg', alt='')
                    span.card__price от 5 500 USD
                  .card__content
                    span.card__country Мальдивы
                    .card__title
                      span.card__rating
                        | 5
                        svg.card__rating-star
                          use(xlink:href='#star-fill')
                      h3 Kurumba Village
                    .card__description-box
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#night')
                        |                       7 ночей на двоих
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#calendar')
                        |                       с 25.09 - по 10.10
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#food')
                        |                       завтраки и обеды
                    .card__tag-box
                      span.card__tag эксклюзив
                      span.card__tag семейный отдых
                      span.card__tag LUXE  коллекция
                      span.card__tag экономичный отдых
            li.catalog__list-item
              .card
                a(href='#')
                  .card__img-box
                    img(src='images/card-image/card-image-01.jpg', alt='')
                    span.card__price от 5 500 USD
                  .card__content
                    span.card__country Мальдивы
                    .card__title
                      span.card__rating
                        | 5
                        svg.card__rating-star
                          use(xlink:href='#star-fill')
                      h3 Kurumba Village
                    .card__description-box
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#night')
                        |                       7 ночей на двоих
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#calendar')
                        |                       с 25.09 - по 10.10
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#food')
                        |                       завтраки и обеды
                    .card__tag-box
                      span.card__tag эксклюзив
                      span.card__tag семейный отдых
                      span.card__tag LUXE  коллекция
                      span.card__tag экономичный отдых
            li.catalog__list-item
              .card
                a(href='#')
                  .card__img-box
                    img(src='images/card-image/card-image-01.jpg', alt='')
                    span.card__price от 5 500 USD
                  .card__content
                    span.card__country Мальдивы
                    .card__title
                      span.card__rating
                        | 5
                        svg.card__rating-star
                          use(xlink:href='#star-fill')
                      h3 Kurumba Village
                    .card__description-box
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#night')
                        |                       7 ночей на двоих
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#calendar')
                        |                       с 25.09 - по 10.10
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#food')
                        |                       завтраки и обеды
                    .card__tag-box
                      span.card__tag эксклюзив
                      span.card__tag семейный отдых
                      span.card__tag LUXE  коллекция
                      span.card__tag экономичный отдых
            li.catalog__list-item
              .card
                a(href='#')
                  .card__img-box
                    img(src='images/card-image/card-image-01.jpg', alt='')
                    span.card__price от 5 500 USD
                  .card__content
                    span.card__country Мальдивы
                    .card__title
                      span.card__rating
                        | 5
                        svg.card__rating-star
                          use(xlink:href='#star-fill')
                      h3 Kurumba Village
                    .card__description-box
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#night')
                        |                       7 ночей на двоих
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#calendar')
                        |                       с 25.09 - по 10.10
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#food')
                        |                       завтраки и обеды
                    .card__tag-box
                      span.card__tag эксклюзив
                      span.card__tag семейный отдых
                      span.card__tag LUXE  коллекция
                      span.card__tag экономичный отдых
            li.catalog__list-item.mob-hide
              .help-card.help-card--phone
                .help-card__content
                  .help-card__title
                    | Не можете выбрать куда поехать отдыхать?
                    .help-card__subtitle Наши эксперты подберут тур спеицально для Вас!
                  .short-form
                    input.js-phone-mask(type='text', placeholder='+7 (___)  ___ __ __')
                    button.subscribe-button(type='submit', data-href='#request-popup')
                      svg
                        use(xlink:href='#arrow-right')
            li.catalog__list-item
              .card
                a(href='#')
                  .card__img-box
                    img(src='images/card-image/card-image-01.jpg', alt='')
                    span.card__price от 5 500 USD
                  .card__content
                    span.card__country Мальдивы
                    .card__title
                      span.card__rating
                        | 5
                        svg.card__rating-star
                          use(xlink:href='#star-fill')
                      h3 Kurumba Village
                    .card__description-box
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#night')
                        |                       7 ночей на двоих
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#calendar')
                        |                       с 25.09 - по 10.10
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#food')
                        |                       завтраки и обеды
                    .card__tag-box
                      span.card__tag эксклюзив
                      span.card__tag семейный отдых
                      span.card__tag LUXE  коллекция
                      span.card__tag экономичный отдых
            li.catalog__list-item
              .card
                a(href='#')
                  .card__img-box
                    img(src='images/card-image/card-image-01.jpg', alt='')
                    span.card__price от 5 500 USD
                  .card__content
                    span.card__country Мальдивы
                    .card__title
                      span.card__rating
                        | 5
                        svg.card__rating-star
                          use(xlink:href='#star-fill')
                      h3 Kurumba Village
                    .card__description-box
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#night')
                        |                       7 ночей на двоих
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#calendar')
                        |                       с 25.09 - по 10.10
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#food')
                        |                       завтраки и обеды
                    .card__tag-box
                      span.card__tag эксклюзив
                      span.card__tag семейный отдых
                      span.card__tag LUXE  коллекция
                      span.card__tag экономичный отдых
            li.catalog__list-item
              .card
                a(href='#')
                  .card__img-box
                    img(src='images/card-image/card-image-01.jpg', alt='')
                    span.card__price от 5 500 USD
                  .card__content
                    span.card__country Мальдивы
                    .card__title
                      span.card__rating
                        | 5
                        svg.card__rating-star
                          use(xlink:href='#star-fill')
                      h3 Kurumba Village
                    .card__description-box
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#night')
                        |                       7 ночей на двоих
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#calendar')
                        |                       с 25.09 - по 10.10
                      span.card__description
                        svg.card__description-icon
                          use(xlink:href='#food')
                        |                       завтраки и обеды
                    .card__tag-box
                      span.card__tag эксклюзив
                      span.card__tag семейный отдых
                      span.card__tag LUXE  коллекция
                      span.card__tag экономичный отдых
            li.catalog__list-item.catalog__list-item--wide.mob-hide
              .help-card.help-card--more
                .help-card__content
                  .help-card__title
                    | Скучаете по Красному морю Египта?
                a.button(href='#') Узнать подробнее
          .center-text
            a.button.button--more(href='#') Загрузить еще
          .small-text
            p
              | ООО Мальдивиана лучший сервис по подбору туров онлайн! Мы динамичная команда профессионалов, работающих на московском рынке международного выездного туризма с 1994 года. Возможно, вы знали нас раньше как компанию "Aitken Spenсe Ceylon". За долгие годы работы в туризме мы пришли к выводу, что для организации успешного путешествия. необходимо слаженное взаимодействие всех сторон причастных к нему.
      //- // controls
      .controls
        a.controls__button.controls__button--filter.button.js-call-mobile-screen(href='.sidebar') Фильтр
        a.controls__button.controls__button--sort.button.js-call-mobile-screen(href='.catalog-sort') Сотрировать
      //- // controls end
    //- // MAIN CONTENT [END]
  //- // FOOTER FIX [END]
  //- FOOTER
  include layouts/footer.jade
