extends layouts/application.jade



block content
  //- include layouts/header.jade
  //- include layouts/main.jade
  //- include layouts/about.jade
  //- include layouts/consultate.jade
  
  .wrapper
    //- // HEADER
    include layouts/header.jade
    .popup__wishlist
      .container
        .popup__column.__title
          .popup__title Отель добавлен в избранное
        .popup__column.__middle
          .popup__middle
            svg.svg__wishlist.__popup
              use(xlink:href='#wishlist')
            a.popup__link(href="") Перейти в избранное
        .popup__column.__close
          .popup__close
            svg.svg__close
              use(xlink:href='#closeButton')

    .popup__compare
      .container
        .popup__column.__title
          .popup__title Отель добавлен в сравнение
        .popup__column.__middle
          .popup__middle
            svg.svg__compare.__popup
              use(xlink:href='#compare')
            a.popup__link(href="") Перейти в сравнение
        .popup__column.__close
          .popup__close
            svg.svg__close
              use(xlink:href='#closeButton')


    .hotelsHeader
      .container
        .hotelsHeader__column.__panel
          .hotelsHeader__button-wishlist.js-wishlist
            //- img(src="images/icon/wishlist.png", alt="")
            svg.svg__wishlist.js-wishlist
              use(xlink:href='#wishlist' )
            span В избранное
          .hotelsHeader__button-compare.js-compare
            svg.svg__compare
              use(xlink:href='#compare' )
            span В сравнение
        .hotelsHeader__column.__title
          .hotelsHeader__nameHotel  Sol Cayo Largo 4*
          .hotelsHeader__geo  Мальдивы, Атолл Фелиху
          .hotelsHeader__priceMob от 5 500 $
        .hotelsHeader__column.__rating
          svg.svg__rating
            use(xlink:href='#rating' )
          .hotelsHeader__value 9.3 / 10

    .sliderMain
      
      .sliderMain-bg(style="background:url('images/slider/slider-hotels-1.jpg') no-repeat center;min-height: 400px;")
        .sliderMain__rating-icon 7.3
        .container.sliderMain-wrapper
          .sliderMain-info
            p.sliderMain-price от 5500 $
            .sliderMain-name
              span test1
              span.sliderMain-star 
                svg.icon-star-fill
                  use(xlink:href='#star-fill')
                svg.icon-star-fill
                  use(xlink:href='#star-fill')
                svg.icon-star-fill
                  use(xlink:href='#star-fill')
      .sliderMain-bg(style="background:url('images/slider/slider-hotels-1.jpg') no-repeat center;min-height: 400px;")
        .container.sliderMain-wrapper
          .sliderMain-info
            p.sliderMain-price от 5500 $
            .sliderMain-name
              span test2
              span.sliderMain-star 
                svg.icon-star-fill
                  use(xlink:href='#star-fill')
                svg.icon-star-fill
                  use(xlink:href='#star-fill')
                svg.icon-star-fill
                  use(xlink:href='#star-fill')
      .sliderMain-bg(style="background:url('images/slider/slider-hotels-1.jpg') no-repeat center;min-height: 400px;")
        .container.sliderMain-wrapper
          .sliderMain-info
            p.sliderMain-price от 5500 $
            .sliderMain-name
              span test3
              span.sliderMain-star 
                svg.icon-star-fill
                  use(xlink:href='#star-fill')
                svg.icon-star-fill
                  use(xlink:href='#star-fill')
                svg.icon-star-fill
                  use(xlink:href='#star-fill')
    .sliderMain-nav
      
      a(href="")
        .sliderMain-nav__video
          img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
      a(href="")
        img.sliderMain-nav__images(src="images/slider/sliderNav-video.jpg", alt="")
    
    .hotelsHeader__button-wishlistMob.js-wishlist
      //- img(src="images/icon/wishlist.png", alt="")
      svg.svg__wishlist.js-wishlist
        use(xlink:href='#wishlist' )
      span Добавить в избранное
    .calendar-price
      .section__title
        h2.h2 Календарь цен
      .container.calendarSlider        

    .dSubscribePrice
        .dSubscribePrice__title Cледите за изменением цен
        p(style="text-align:center;color:#fff;") Получайте письма о понижении цен на Вашу почту
        form.short-form.dSubscribePrice__form(action="")
          input(type='text', placeholder='Ваш E-mail')
          button.subscribe-button(type='submit', data-href='#subscribe-popup')
            svg
                use(xlink:href='#arrow-right' )
    .container
      #hotelsTabs.js-accordion
        ul.hotelsTabs__nav
          li
            a(href="#hotelsTabs-1") Описание тура
          li
            a#map-link.hotelsTabs__link(href="#hotelsTabs-2") Отель на карте
          li
            a(href="#hotelsTabs-3") Бонусы и акции
          li 
            a#sliderFeedback(href="#hotelsTabs-4") Отзывы
        p.mobShow.hotelsDescription__accordTitle.hotelsTabsDrop-1.active Описание отеля 
        #hotelsTabs-1.hotelsTabs__block

          .hotelsDescription
            
            .hotelsDescription__column
              .hotelsDescription__info
                .hotelsDescription__icon
                  svg
                    use(xlink:href='#geo-island' x="0" y="0")
                .hotelsDescription__title Месторасположение:
                .hotelsDescription__value остров Эллайду в Ари Атолле 
                .hotelsDescription__value Расстояние до международного аэропорта<br/> IBRAHIM Nasir: 42 км
              .hotelsDescription__info
                .hotelsDescription__icon
                  svg
                    use(xlink:href='#size-island' x="0" y="0")
                .hotelsDescription__title Размеры острова:
                .hotelsDescription__value остров Эллайду в Ари Атолле
              .hotelsDescription__info
                .hotelsDescription__icon
                  svg
                    use(xlink:href='#transfer' x="0" y="0")
                .hotelsDescription__title Трансфер:
                .hotelsDescription__value остров Эллайду в Ари Атолле
              .hotelsDescription__info
                .hotelsDescription__icon
                  svg
                    use(xlink:href='#hotel-house' x="0" y="0")
                .hotelsDescription__title В отеле:
                ul.hotelsDescription__list 
                  li.hotelsDescription__li бассейн
                  li.hotelsDescription__li SPA
                  
            .hotelsDescription__column
              .hotelsDescription__info
                .hotelsDescription__icon
                  svg
                    use(xlink:href='#food-hotels' x="0" y="0")
                .hotelsDescription__title Питание:

                ul.hotelsDescription__list
                  .hotelsDescription__name Пакет "All Inclusive": 
                  li.hotelsDescription__li завтраки, обеды, ужины;
                  li.hotelsDescription__li закуски;
                  li.hotelsDescription__li столовое вино, крепкий алкоголь, коктейли, пиво, безалкогольные напитки и пакетированные соки, бутылированная вода, чай и кофе;
                  li.hotelsDescription__li тренажерный зал, бадминтон, настольный теннис, бильярд, пляжный волейбол, сквош.
                ul.hotelsDescription__list
                  .hotelsDescription__name Пакет "Premium All Inclusive":
                  .hotelsDescription__value(style="margin-top:0;") (минимум проживания - 7 ночей) дополнительно включает:
                  li.hotelsDescription__li бесплатный WI-FI;
                  li.hotelsDescription__li мини-бар (заполняется один раз в день безалкогольными напитками и пивом); алкоголь премиальных марок;
                  li.hotelsDescription__li широкий выбор коктейлей;
                  li.hotelsDescription__li свежевыжатые соки и молочные коктейли;
                  li.hotelsDescription__li две бесплатные экскурсии на выбор по специальному меню;
                  li.hotelsDescription__li ужин на пляже;
                  li.hotelsDescription__li 60-минутный массаж.
            .hotelsDescription__column
              .hotelsDescription__info
                .hotelsDescription__icon
                  svg
                    use(xlink:href='#aqua-mask' x="0" y="0")
                .hotelsDescription__title Спорт и развлечения

                ul.hotelsDescription__list
                  
                  li.hotelsDescription__li немоторизованные водные виды спорта
                  li.hotelsDescription__li футбольное поле
                  li.hotelsDescription__li моторизованные водные виды спорта
                  li.hotelsDescription__li фитнес/тренажерный зал
                  li.hotelsDescription__li дайвинг-центр
                  li.hotelsDescription__li волейбол
              .hotelsDescription__info
                .hotelsDescription__icon
                  svg
                    use(xlink:href='#compass-hotel' x="0" y="0")
                .hotelsDescription__title Экскурсии

                ul.hotelsDescription__list
                  
                  li.hotelsDescription__li Рыбацкая деревушка
                  li.hotelsDescription__li Ромео и Джульета
                  li.hotelsDescription__li Остров Расду
                  li.hotelsDescription__li Мале
                  li.hotelsDescription__li Рыбалка на закате
                  li.hotelsDescription__li Глубоководная рыбалка
                  li.hotelsDescription__li «За дельфинами»
                  li.hotelsDescription__li Утренняя рыбалка
                  li.hotelsDescription__li Ночная рыбалка
                  li.hotelsDescription__li Сноркелинг
              
        p.mobShow.hotelsDescription__accordTitle.hotelsTabsDrop-2 Отель на карте
        #hotelsTabs-2.hotelsTabs__block
          
          #mapPrice(style="height:400px;width:100%;border-radius:12px;")
        p.mobShow.hotelsDescription__accordTitle.hotelsTabsDrop-3 Бонусы и акции
        #hotelsTabs-3.hotelsTabs__block
          .hotelsTabs__bonus
            
            a.hotelsBonus__column(style="background:url(images/bonus/bonus-1.jpg) no-repeat 50%;" href="")
              .hotelsBonus__name 20% скидка на проживание
              .hotelsBonus__info  Бесплатное проживание и питание для детей до 7 лет в номере с двумя оплаченными взрослыми. 
              .hotelsBonus__info  Бесплатная вода в главном ресторане отеля во время завтраков, обедов и ужинов (согласно оплаченному типу питания).
              .hotelsBonus__border-bottom
              .hotelsBonus__date 
                p.hotelsBonus__date-name Период действия
                p.hotelsBonus__date-value 26.12.2016 - 16.04.2017
            a.hotelsBonus__column(style="background:url(images/bonus/bonus-2.jpg) no-repeat 50%;" href="")
              .hotelsBonus__name Бонус молодоженам, а также отмечающим "серебряную" и "золотую" свадьбу
              .hotelsBonus__info  Бутылка вина
              .hotelsBonus__info  Корзина фруктов
              .hotelsBonus__border-bottom 
              .hotelsBonus__date 
                p.hotelsBonus__date-name Период действия
                p.hotelsBonus__date-value 26.12.2016 - 16.04.2017
                
        p#sliderFeedbackMobile.mobShow.hotelsDescription__accordTitle.hotelsTabsDrop-4 Отзывы
        #hotelsTabs-4.hotelsTabs__block
          
          include layouts/feedback.jade

    .holidayCreate
      .section__title
        h2.h2 Создай свой идеальный отдых
      .holidayCreate__filter
        
        include layouts/filter__hotels.jade
      .holidayCreate__filterMob(style="display:none;")
        a.filter__back.back.js-close-filterMob(href='#')
          svg.icon-arrow-left
            use(xlink:href='#arrow-left')
          | Назад
        .container
          .search__items
            .search__item.filterMob__search
              svg.search__icon.icon-compass
                use(xlink:href='#compass')
              input.search__input.js-init-autocomplete(type='text', placeholder='Куда', data-source='places')
            .search__item.filterMob__search.search__item--lg.search__item--people
              svg.search__icon.icon-people
                use(xlink:href='#people')
              input.search__input.js-init-people(type='text', placeholder='2 взрослых 0 детей', readonly='true')
              svg.search__arrow
                use(xlink:href='#caret-down')
            .search__item.filterMob__search.search__item--lg
              svg.search__icon.icon-calendar
                use(xlink:href='#calendar')
              input.search__input.js-init-calendar(type='text', placeholder='Выберите дату', readonly='true')
              svg.search__arrow
                use(xlink:href='#caret-down')
            .search__item.filterMob__search
              svg.search__icon.icon-location
                use(xlink:href='#location')
              input.search__input.js-init-autocomplete(type='text', placeholder='Из Москвы', data-source='from')
              svg.search__arrow
                use(xlink:href='#caret-down')
      .container
        button.filter__buttonMob Фильтр
      .holidayCreate__sliderMob
        .container
          include layouts/slider__catalog.jade
      .holidayCreate__slider
        
        #sliderNumbers.container
          .numbersSlider__item
            .sliderNumber.numbersSlider__images
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
            .numbersSlider__type
              .numbersSlider__propertie test
              .numbersSlider__value test
            .numbersSlider__info
              .numbersSlider__propertie test
              .numbersSlider__value test2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__value tests2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__price 2350$
            form.numbersSlider__form(action="")
              .numbersSlider__checkbox
              .numbersSlider__labelCheckbox номер выбран
          
          .numbersSlider__item
            .sliderNumber.numbersSlider__images
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
            .numbersSlider__type
              .numbersSlider__propertie test
              .numbersSlider__value test
            .numbersSlider__info
              .numbersSlider__propertie test
              .numbersSlider__value test2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__value tests2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__price 2350$
            form.numbersSlider__form(action="")
              .numbersSlider__checkbox
              .numbersSlider__labelCheckbox номер выбран
          
          .numbersSlider__item
            .sliderNumber.numbersSlider__images
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
            .numbersSlider__type
              .numbersSlider__propertie test
              .numbersSlider__value test
            .numbersSlider__info
              .numbersSlider__propertie test
              .numbersSlider__value test2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__value tests2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__price 2350$
            form.numbersSlider__form(action="")
              .numbersSlider__checkbox
              .numbersSlider__labelCheckbox номер выбран
          
          .numbersSlider__item
            .sliderNumber.numbersSlider__images
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
            .numbersSlider__type
              .numbersSlider__propertie test
              .numbersSlider__value test
            .numbersSlider__info
              .numbersSlider__propertie test
              .numbersSlider__value test2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__value tests2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__price 2350$
            form.numbersSlider__form(action="")
              .numbersSlider__checkbox
              .numbersSlider__labelCheckbox номер выбран
          
          .numbersSlider__item
            .sliderNumber.numbersSlider__images
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
            .numbersSlider__type
              .numbersSlider__propertie test
              .numbersSlider__value test
            .numbersSlider__info
              .numbersSlider__propertie test
              .numbersSlider__value test2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__value tests2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__price 2350$
            form.numbersSlider__form(action="")
              .numbersSlider__checkbox
              .numbersSlider__labelCheckbox номер выбран
          
          .numbersSlider__item
            .sliderNumber.numbersSlider__images
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
              .numbersSlider__image(style="background-image:url(images/numbers/image-1.jpg);" alt="")
            .numbersSlider__type
              .numbersSlider__propertie test
              .numbersSlider__value test
            .numbersSlider__info
              .numbersSlider__propertie test
              .numbersSlider__value test2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__value tests2
            .numbersSlider__info
              .numbersSlider__propertie test2
              .numbersSlider__price 2350$
            form.numbersSlider__form(action="")
              .numbersSlider__checkbox
              .numbersSlider__labelCheckbox номер выбран
      
      .holidayCreate__result
        .container
          .numberResult
            //- block 1
            .numberResult__sum
              .numberResult__sumTitle Сумма
              .numberResult__sumValue 1 390 $
              .numberResult__sumBonus
                .numberResult__sumIcon
                  svg
                    use(xlink:href='#palma2')

                .numberResult__sumText TextBonus<br> <strong>TextBonus</strong>
              a.numberResult__sumLink(href="") Подробнее о бонусной программе
            .numberResult__payment
              .numberResult__paymentDescription
                | Вы можете внести предоплату 50% 
                | <br>Оставшуюся сумму не поздней, чем за 14 дней 
                | <br>до начала тура.
              a.numberResult__paymentLink(href="") Список документов для визы
              .numberResult__paymentMethods
                .numberResult__paymentIcon
                  svg
                    use(xlink:href='#monets')
                .numberResult__paymentText
                  | <strong>Способы оплаты:</strong> банковской картой онлайн, 
                  | <br>наличными или картой в офисе, а также 
                  | <br>оформить кредит от Сбербанка
            .numberResult__buy
              button.numberResult__buyButton Купить

      .hotelsTours
        .section__title
          h2.h2 Туры с вылетом из 
          .pick-up
            | Москвы
            svg.pick-up__icon
              use(xlink:href='#caret-down')
            .dropdown__box
              span.dropdown__triangle
              ul.dropdown__list
                li.dropdown__list-item
                  a.dropdown__link(href='#') Шри-Ланка
                li.dropdown__list-item
                  a.dropdown__link(href='#') Доминикана
                li.dropdown__list-item
                  a.dropdown__link(href='#') Сейшелы
                li.dropdown__list-item
                  a.dropdown__link(href='#') Маврикий
        .container
          .hotelsTours__sorting
            .hotelsTours__sortingSelectors.__food
              label(for="test") 
                svg
                  use(xlink:href='#caret-down')
              select(name="test")
                option test1
                option test2
                option test3
                option test4
            .hotelsTours__sortingSelectors.__typeNumbers
              label(for="test2") 
                svg
                  use(xlink:href='#caret-down')
              select(name="test2")
                option test1
                option test2
                option test3
                option test4
            .hotelsTours__sortingSelectors.__airCompanie
              label(for="test3") 
                svg
                  use(xlink:href='#caret-down')
              select(name="test3")
                option test1
                option test2
                option test3
                option test4
            .hotelsTours__sortingSwitch
              //- .catalog-sort__desctop.holidayCreate__sort-inner
              span.hotelsTours__sortingTitle Сортировать по:
              ul.hotelsTours__sortingList.js-sort
                li.hotelsTours__sortingListItem.active
                  a.hotelsTours__sortingLink(href='#') цене
                li.hotelsTours__sortingListItem
                  a.hotelsTours__sortingLink(href='#') дате
                li.hotelsTours__sortingListItem
                  a.hotelsTours__sortingLink(href='#') названию
            .hotelsTours__sortingMob
              //- .catalog-sort__desctop.holidayCreate__sort-inner
              span.hotelsTours__sortingMobTitle Сортировать по:
              ul.hotelsTours__sortingMobList
                li
                  input#countryOption-1.checkbox--inline(type='checkbox')
                  label(for='countryOption-1') Цене
                li
                  input#countryOption-2.checkbox--inline(type='checkbox')
                  label(for='countryOption-2') Дате
                li
                  input#countryOption-3.checkbox--inline(type='checkbox')
                  label(for='countryOption-3') Названию
          .hotelsTours__tableMob
            include layouts/slider__catalog.jade
          .hotelsTours__table
            .hotelsTours__tableTitles
              .hotelsTours__tableTitle.__tour Тур
              .hotelsTours__tableTitle.__duration Продолжительность
              .hotelsTours__tableTitle.__numbers Номер в отеле
              .hotelsTours__tableTitle.__food Питание
              .hotelsTours__tableTitle.__airCompanie Авиакомпания
              .hotelsTours__tableTitle.__price Цена
            .hotelsTours__tableCells
              .hotelsTours__tableRow
                .hotelsTours__tableCell.__tour 
                  a(href="") Мальдивские острова Qatar Airways
                .hotelsTours__tableCell.__duration 12 дн. / 10 н.
                .hotelsTours__tableCell.__numbers Стандартный номер
                .hotelsTours__tableCell.__food Все включено
                .hotelsTours__tableCell.__airCompanie Emirates
                .hotelsTours__tableCell.__price 1360 $

              .hotelsTours__tableRow
                .hotelsTours__tableCell.__tour 
                  a(href="") Мальдивские острова Qatar Airways
                .hotelsTours__tableCell.__duration 12 дн. / 10 н.
                .hotelsTours__tableCell.__numbers Стандартный номер
                .hotelsTours__tableCell.__food Все включено
                .hotelsTours__tableCell.__airCompanie Emirates
                .hotelsTours__tableCell.__price 1360 $

              .hotelsTours__tableRow
                .hotelsTours__tableCell.__tour 
                  a(href="") Мальдивские острова Qatar Airways
                .hotelsTours__tableCell.__duration 12 дн. / 10 н.
                .hotelsTours__tableCell.__numbers Стандартный номер
                .hotelsTours__tableCell.__food Все включено
                .hotelsTours__tableCell.__airCompanie Emirates
                .hotelsTours__tableCell.__price 1360 $

              .hotelsTours__tableRow
                .hotelsTours__tableCell.__tour 
                  a(href="") Мальдивские острова Qatar Airways
                .hotelsTours__tableCell.__duration 12 дн. / 10 н.
                .hotelsTours__tableCell.__numbers Стандартный номер
                .hotelsTours__tableCell.__food Все включено
                .hotelsTours__tableCell.__airCompanie Emirates
                .hotelsTours__tableCell.__price 1360 $
      .hotelsAround
        .section__title.hotelsAround__title
          h2.h2 Отели рядом
        .container
          include layouts/slider__catalog.jade

      .hotelsSimilar
        .section__title.hotelsSimilar__title
          h2.h2 Отели рядом
        .container
          include layouts/slider__catalog.jade

      .hotelsArticle
        .section__title.hotelsArticle__title
          h2.h2 История Мальдивских островов
        .container.hotelsArticle__wrapper
          .hotelsArticle__content
            .hotelsArticle__history-column 
              |  В 1982 г., основываясь на записках британского комиссара на Цейлоне Х. Белла (1879) и американского антрополога К. Мэлони ("Население Мальдивских островов", 1980), Тур Хейердал приступил к исследованию истории Мальдив.
              |К тому времени уже было известно, что мальдивская культура появилась значительно раньше V в. до н.э., времени, когда на островах появились буддисты.
              |Раскопки, предпринятые Хейердалом на атоллах Хуваду и Адду, позволили сделать вывод, что на островах существовала более древняя цивилизация, вероятно арийского происхождения, родившаяся в долине реки Инд приблизительно за 2000 лет до н.э. Хейердал дает новую интерпретацию "хавиттам", обнаруженным в XIX в. Х. Беллом. Он полагает, что эти курганы, сложенные из коралловых блоков, являлись культовыми святынями народа, поклонявшегося Солнцу. Камни, окруженные концентрическими линиями, а также такие необычные для Мальдив мотивы, как цветы подсолнечника и лотоса, указывают на то, что их авторами были представители самых древних цивилизаций.
              |Заинтригованный Хейердал узнал у местных старожилов, что на Мальдивах существует легенда о белокожих людях высокого роста с голубыми глазами, орлиными носами, удлиненными лицами и темными волосами. Эти люди назывались рединами. Их верования основывались на культе Солнца и сопровождались обрядами, главными действующими лицами которых были злые духи-джинны.
              |Найденные при раскопках фрагменты керамики позволили датировать поселения рединов примерно 2000 г. до н.э.
              |На острове Ниланду, который находится на одинаковом расстоянии как от самого северного, так и от самого южного из Мальдивских островов, обнаружены следы еще одного племени, которое, вероятно, последовало за рединами. Этот народ назывался холинами. Их религиозные святилища были окружены скульптурами, напоминающими грибы-поганки. Когда мальдивцев спросили о происхождении этих людей, они вполне логично ответили, что холины пришли из земли холинов. Нам придется удовлетвориться этим ответом, так как нет ни одного научного исследования на эту тему.
              |В западной части атолла Мале живет небольшая община гиравару (около 200 человек).
              |Раньше они размещались на острове Гиравару, что к западу от Мале, а затем, когда на их родном острове начали строить международный аэропорт, переселились на Мале. Они претендуют на звание старейших жителей Мальдив, и их претензии, похоже, весьма обоснованы. Гиравару являются потомками тамилов, выходцев из южных районов Индии, хотя некоторые специалисты утверждают, что они близки австралийским аборигенам. Несмотря на заселение острова буддистами, а затем и принятие ислама, гиравару сохранили свои древние традиции и всегда считались в некотором роде изгоями.
              |Похоже, что дни этого племени сочтены. Ассимиляция гиравару идет быстрыми темпами. Живя в другой среде, они постепенно утрачивают свои обычаи. Правда, женщины до сих пор завязывают волосы с правой стороны, в то время как все остальные мальдивки — с левой, и украшают свою одежду необычной серебряной вышивкой. Гиравару говорят с особым акцентом. Он отличается от произношения жителей атолла Мале, но довольно похож на акцент обитателей атолла Адду.  
              |Остров Гиравару
              |Остров Гиравару
              |Буддисты и Индуисты
              |Вторая волна заселения Мальдивских островов приходится на 500 г. до н.э. В эту эпоху с территории современной Шри-Ланки на острова прибыли буддисты. Они обосновались преимущественно на южных островах, где и построили свои святилища в честь Будды, похожие на дагобы (буддистские святыни в форме купола), на месте древних хавитов культуры рединов.
            .hotelsArticle__history-column
              |  В 1982 г., основываясь на записках британского комиссара на Цейлоне Х. Белла (1879) и американского антрополога К. Мэлони ("Население Мальдивских островов", 1980), Тур Хейердал приступил к исследованию истории Мальдив.
              |К тому времени уже было известно, что мальдивская культура появилась значительно раньше V в. до н.э., времени, когда на островах появились буддисты.
              |Раскопки, предпринятые Хейердалом на атоллах Хуваду и Адду, позволили сделать вывод, что на островах существовала более древняя цивилизация, вероятно арийского происхождения, родившаяся в долине реки Инд приблизительно за 2000 лет до н.э. Хейердал дает новую интерпретацию "хавиттам", обнаруженным в XIX в. Х. Беллом. Он полагает, что эти курганы, сложенные из коралловых блоков, являлись культовыми святынями народа, поклонявшегося Солнцу. Камни, окруженные концентрическими линиями, а также такие необычные для Мальдив мотивы, как цветы подсолнечника и лотоса, указывают на то, что их авторами были представители самых древних цивилизаций.
              |Заинтригованный Хейердал узнал у местных старожилов, что на Мальдивах существует легенда о белокожих людях высокого роста с голубыми глазами, орлиными носами, удлиненными лицами и темными волосами. Эти люди назывались рединами. Их верования основывались на культе Солнца и сопровождались обрядами, главными действующими лицами которых были злые духи-джинны.
              |Найденные при раскопках фрагменты керамики позволили датировать поселения рединов примерно 2000 г. до н.э.
              |На острове Ниланду, который находится на одинаковом расстоянии как от самого северного, так и от самого южного из Мальдивских островов, обнаружены следы еще одного племени, которое, вероятно, последовало за рединами. Этот народ назывался холинами. Их религиозные святилища были окружены скульптурами, напоминающими грибы-поганки. Когда мальдивцев спросили о происхождении этих людей, они вполне логично ответили, что холины пришли из земли холинов. Нам придется удовлетвориться этим ответом, так как нет ни одного научного исследования на эту тему.
              |В западной части атолла Мале живет небольшая община гиравару (около 200 человек).
              |Раньше они размещались на острове Гиравару, что к западу от Мале, а затем, когда на их родном острове начали строить международный аэропорт, переселились на Мале. Они претендуют на звание старейших жителей Мальдив, и их претензии, похоже, весьма обоснованы. Гиравару являются потомками тамилов, выходцев из южных районов Индии, хотя некоторые специалисты утверждают, что они близки австралийским аборигенам. Несмотря на заселение острова буддистами, а затем и принятие ислама, гиравару сохранили свои древние традиции и всегда считались в некотором роде изгоями.
              |Похоже, что дни этого племени сочтены. Ассимиляция гиравару идет быстрыми темпами. Живя в другой среде, они постепенно утрачивают свои обычаи. Правда, женщины до сих пор завязывают волосы с правой стороны, в то время как все остальные мальдивки — с левой, и украшают свою одежду необычной серебряной вышивкой. Гиравару говорят с особым акцентом. Он отличается от произношения жителей атолла Мале, но довольно похож на акцент обитателей атолла Адду.  
              |Остров Гиравару
              |Остров Гиравару
              |Буддисты и Индуисты
              |Вторая волна заселения Мальдивских островов приходится на 500 г. до н.э. В эту эпоху с территории современной Шри-Ланки на острова прибыли буддисты. Они обосновались преимущественно на южных островах, где и построили свои святилища в честь Будды, похожие на дагобы (буддистские святыни в форме купола), на месте древних хавитов культуры рединов.
            .hotelsArticle__blockOpacity
          button.hotelsArticle__button Подробно



          
          
          
          


      
              
        


      



  include layouts/footer.jade