extends layouts/application.jade



block content
  .wrapper
    include layouts/header.jade
    h2.dNews__h2 Африка и Индийский океан
    include layouts/slider__main.jade

    .regionCountry
      .section__title
        h2.h2 Страны в этом регионе
      .container.regionCountry__inner
        .regionCountry__column
          .regionCountry__bg(style="background:url('./images/region/country-1.jpg') no-repeat 50%")
            .regionCountry__name  Мальдивы
        .regionCountry__column
          .regionCountry__bg(style="background:url('./images/region/country-2.jpg') no-repeat 50%")
            .regionCountry__name  шри-ланка
        .regionCountry__column
          .regionCountry__bg(style="background:url('./images/region/country-3.jpg') no-repeat 50%")
            .regionCountry__name  сейшелы
        .regionCountry__column
          .regionCountry__bg(style="background:url('./images/region/country-4.jpg') no-repeat 50%")
            .regionCountry__name  дайвинг-сафари

    .regionArticle
      .container
        .regionArticle__content
          .regionArticle__text
            .regionArticle__textTitle 
              span
                |Выберите страну по вкусу
            .regionArticle__textDescription  
              p Африка и Индийский окена – это 1 192 коралловых острова, из которых постоянно заселено лишь порядка 200.Здесь вас ждут Лазурь неба и моря, яркое солнце, песчаные роскошные пляжи, тропическая зелень, спокойствие и умиротворение. Оформлять визу заранее не требуется, поэтому купить горящую путевку на Мальдивы можно без долгих размышлений.
              p Когда лучше ехать на Мальдивы? Больше всего туристов на островах с ноября по апрель – в это время здесь температура воды поднимается до 26-28 °С, а воздуха – до 31-32°С. Это период самых высоких цен.
              p Стоимость тура на Мальдивы в «не сезон» (май-октябрь) самая низкая. Любители серфинга и люди, плохо переносящие жару, предпочитают отдых в это время: температура воздуха редко поднимается выше 30°С, а ветер создает условия для хорошей волны. Дожди, как правило, кратковременные, но море может не порадовать прозрачной голубизной – из-за ветров вода иногда становится мутной. Впрочем, судя по отзывам отдыхающих, опасения касательно ветров и дождей обычно преувеличены.
              p Возможно, тем, кто впервые решил купить путевки на Мальдивы, цена покажется довольно высокой. Но вы получаете по-настоящему шикарный отдых. Длительность туров – от 5-ти до 15-ти дней и, соответственно, от 6-ти до 16-ти ночей. Если вы предпочитаете проводить отдых более разнообразно, можно подобрать комбинированные туры. Это либо Шри-Ланка + Мальдивы, либо ОАЭ + Мальдивы, либо Турция + Мальдивы.
          .regionArticle__images
            img.regionArticle__image(src="images/region/banner-1.png", alt="")
            img.regionArticle__image(src="images/region/banner-1.png", alt="")

        .regionArticle__content
          .regionArticle__border
            span.regionArticle__borderQuotes.__top
              svg
                  use(xlink:href="#quotes")
            span.regionArticle__borderQuotes.__bottom
              svg
                  use(xlink:href="#quotes")
            .regionArticle__borderText
              span
                |  Любители серфинга и люди, <br/> плохо переносящие жару,  <br/>предпочитают отдых в это время
          .regionArticle__text-2
            
            .regionArticle__textDescription  
              p Африка и Индийский окена– это 1 192 коралловых острова, из которых постоянно заселено лишь порядка 200.Здесь вас ждут Лазурь неба и моря, яркое солнце, песчаные роскошные пляжи, тропическая зелень, спокойствие и умиротворение. Оформлять визу заранее не требуется, поэтому купить горящую путевку на Мальдивы можно без долгих размышлений.
              p Когда лучше ехать на Мальдивы? Больше всего туристов на островах с ноября по апрель – в это время здесь температура воды поднимается до 26-28 °С, а воздуха – до 31-32°С. Это период самых высоких цен.
              p Стоимость тура на Мальдивы в «не сезон» (май-октябрь) самая низкая. Любители серфинга и люди, плохо переносящие жару, предпочитают отдых в это время: температура воздуха редко поднимается выше 30°С, а ветер создает условия для хорошей волны. Дожди, как правило, кратковременные, но море может не порадовать прозрачной голубизной – из-за ветров вода иногда становится мутной. Впрочем, судя по отзывам отдыхающих, опасения касательно ветров и дождей обычно преувеличены.
              p Возможно, тем, кто впервые решил купить путевки на Мальдивы, цена покажется довольно высокой. Но вы получаете по-настоящему шикарный отдых. Длительность туров – от 5-ти до 15-ти дней и, соответственно, от 6-ти до 16-ти ночей. Если вы предпочитаете проводить отдых более разнообразно, можно подобрать комбинированные туры. Это либо Шри-Ланка + Мальдивы, либо ОАЭ + Мальдивы, либо Турция + Мальдивы.
    .typesHoliday
      .section__title
        h2.h2 Типы отдыха
      .container
        include layouts/types__holiday.jade

    .regionHotelsSlider
      .section__title.regionHotelsSlider__title
        h2.h2 Отели в этом регионе
      .container
        include layouts/slider__catalog.jade

    .specialOffers
      .section__title.regionHotelsSlider__title
        h2.h2 Спецпредложения отелей
      #specialOffers__map

    .otherRegions
      .section__title.regionHotelsSlider__title
        h2.h2 Другие регионы
      .otherRegionsSlider__layout
        .container.otherRegionsSlider
          .otherRegionsSlider__item
            .otherRegions__bg(style="background:url('./images/region/otherregions.jpg') no-repeat 50%")
              .otherRegions__name  Азия, ближний и средний восток
          .otherRegionsSlider__item
            .otherRegions__bg(style="background:url('./images/region/otherregions.jpg') no-repeat 50%")
              .otherRegions__name  Азия, ближний и средний восток
    
    .contactForm
      .container
        form.contactForm__inner
          .contactForm__textTitle 
              span
                |Выберите страну по вкусу
          .contactForm__description  Наши менеджеры подберут для вас идеальное предложение, учитывая все Ваши пожелания.

          .contactForm__row
            .contactForm__input
              label(for="") <span>*</span>label
              input(name="name" type="text" placeholder="test")
            .contactForm__input
              label(for="") <span>*</span>label
              input(name="tel" type="text" placeholder="test")
            .contactForm__input
              label(for="") <span>*</span>label
              input(name="email" type="text" placeholder="test")
          .contactForm__row
            .contactForm__textarea
              label(for="") label
              textarea(name="message", cols="30", rows="10" placeholder="tests")
          .contactForm__row
            button.contactForm__button Отправить

    .featuresHoliday
      .section__title.featuresHoliday__title
        h2.h2 Преимущества Мальдивы
      .container
        .featuresHoliday__column
          .featuresHoliday__item
            .featuresHoliday__icon
              svg
                use(xlink:href="#aircraft")
            .featuresHoliday__description 99% вылетов без задержек
          .featuresHoliday__item
            .featuresHoliday__icon
              svg
                use(xlink:href="#starsfeatures")
            .featuresHoliday__description Ведущее место в рейтинге<br/>туроператоров России
        .featuresHoliday__column
          .featuresHoliday__item
            .featuresHoliday__icon
              svg
                use(xlink:href="#blankfeatures")
            .featuresHoliday__description Все туры застрахованы
          .featuresHoliday__item
            .featuresHoliday__icon
              svg
                use(xlink:href="#shipfeatures")
            .featuresHoliday__description Яхта «Мальдивиана» с 2009 г.<br/>признана лучшей сафари-яхтой Азии 
        .featuresHoliday__column
          .featuresHoliday__item
            .featuresHoliday__icon
              svg
                use(xlink:href="#giftfeatures")
            .featuresHoliday__description Многолетняя помощь <br/>Благотворительному фонду<br/><strong>ПОДАРИ ЖИЗНЬ</strong>
          .featuresHoliday__item
            .featuresHoliday__icon
              svg
                use(xlink:href="#airflotfeatures")
            .featuresHoliday__description Официальный представитель<br/>а/к Аэрофлот на мальдивах 


                

  include layouts/footer.jade